@import "../../../../res/variables.scss";
@import "../../../../res/scss/form.scss";
@import "../../../../res/scss/slider.scss";

section {
    & > div.container {
        & > div.catalogo {
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            min-height: 300px;
            & > div.box-filtro {
                width: 25%;
                height: 100%;
                border: 1px solid #a7a7a7;
                border-radius: 10px;
                margin-right: 20px;
                margin-bottom: 20px;
                padding: 20px;

                & > form {
                    & > div.filtro {
                        padding: 20px 0;
                        border-bottom: 1px solid #dfdfdf;

                        &:first-of-type {
                            padding-top: 0;
                        }
                        &:last-of-type {
                            border-bottom: 0;
                            padding-bottom: 0;
                        }
                        & > p {
                            margin: 0;
                            margin-bottom: 20px;
                            &.titulo {
                                color: #747474;
                                font-weight: bold;
                                text-transform: capitalize;

                                &:first-of-type {
                                    margin-top: 0;
                                }
                            }
                        }

                        & > div {
                            max-height: 290px;
                            overflow-y: auto;
                            & > div.form-check {
                                & > input[type="checkbox"],
                                & > input[type="radio"] {
                                    border-radius: 0;
                                    width: 1.3em;
                                    height: 1.3em;
                                    margin-right: 10px;
                                    border-color: rgba(0, 0, 0, 0.25) !important;
                                    display: flex;
                                    padding-left: 1.5px;
                                    background: transparent;
                                    cursor: pointer;

                                    &:checked {
                                        background: $text-primary;

                                        &::after {
                                            font-family: "Font Awesome 5 Free";
                                            font-weight: 900;
                                            content: "\f00c";
                                            color: #fff;
                                            width: 100%;
                                            font-size: 14px;
                                            margin-top: -1px;
                                        }
                                    }
                                }

                                & > input[type="radio"] {
                                    border-radius: 50%;
                                    width: 1.3em;
                                    height: 1.3em;
                                    margin-right: 10px;
                                    border-color: rgba(0, 0, 0, 0.25) !important;
                                    display: flex;
                                    padding-left: 1.5px;
                                    background: transparent;
                                    cursor: pointer;

                                    &:checked {
                                        background: $text-primary;
                                    }
                                }

                                & > label {
                                    color: #686868;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    width: 90%;
                                }
                            }

                            & > div.precos {
                                padding-bottom: 20px;
                            }

                            & > div.cores {
                                display: grid;
                                grid-template-columns: repeat(4, 1fr);
                                // grid-column-gap: 5px;
                                // grid-row-gap: 10px;

                                & > div.box-cor {
                                    display: block;
                                    width: 100%;
                                    text-align: center;
                                    margin-bottom: 10px;
                                    & > div.cor {
                                        width: 35px;
                                        height: 35px;
                                        border-radius: 50%;
                                        overflow: hidden;
                                        cursor: pointer;
                                        border: 2px solid #fff;
                                        display: inline-block;

                                        &.active {
                                            border: 2px solid #28a745;
                                        }
                                        & > span {
                                            display: inline-block;
                                            width: 50%;
                                            height: 48px;
                                            &.full {
                                                width: 100%;
                                            }
                                        }
                                    }
                                    & > span {
                                        display: inline-block;
                                        width: 100%;
                                        text-align: center;
                                        font-size: 10px;
                                        line-height: 12px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            & > div.box-produtos {
                width: 75%;
                padding-bottom: 40px;
                & > h3 {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    color: #747474;
                    font-weight: bold;
                    padding-bottom: 10px;
                    border-bottom: 1px solid #dfdfdf;
                    margin: 0;

                    & > span {
                        background: #ccc;
                        color: #747474;
                        padding: 3px 8px;
                        border-radius: 3px;
                        margin-right: 15px;
                        font-size: 15px;
                        position: relative;

                        &:first-of-type{
                            margin-left: 10px;
                        }

                        &:last-of-type{
                            margin-right: 0;
                        }

                        &>span{
                            cursor: pointer;
                        }
                    }
                }

                & > div.info {
                    display: flex;
                    width: 100%;
                    margin-top: 10px;
                    margin-bottom: 20px;
                    align-items: center;

                    & > span {
                        justify-content: left;
                        width: 100%;
                    }

                    & > div.ordenacao {
                        min-width: 200px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
                & > div.produtos {
                    display: grid;
                    grid-template-columns: repeat(3, 1fr);
                    grid-column-gap: 20px;
                    grid-row-gap: 20px;
                    justify-content: flex-start;
                }
            }
        }
    }
}

@import "responsive/produto-xl.scss";
@import "responsive/produto-lg.scss";
@import "responsive/produto-md.scss";
@import "responsive/produto-sm.scss";
@import "responsive/produto-xss.scss";
@import "responsive/produto-print.scss";
