// Core variables and mixins
@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

$primary: #1e1e1f;
$secondary: #5c5c5c;
$tertiary: #7044ff;
$danger: #dc3545;

$text-primary: #575757;
$text-success: #28a745