// Core variables and mixins
@import "../../../../node_modules/bootstrap/scss/functions";
@import "../../../../node_modules/bootstrap/scss/variables";
@import "../../../../node_modules/bootstrap/scss/mixins";

@import "../../../res/variables.scss";

div.busca {
    display: block;
    width: 100%;
    align-self: center;

    & > div.container {
        & > div.campo-busca {
            display: block;
            width: 100%;
            border: none;
            background-color: #fff;
            border-radius: 30px;
            padding: 8px;
            position: relative;

            &.expanded {
                &:hover {
                    border-bottom-left-radius: 0;
                    border-bottom-right-radius: 0;
                    & > div.dropbox-produtos {
                        &.expanded {
                            display: block;
                        }
                    }
                }
            }
            & > i.fas {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                font-size: 25px;
                cursor: pointer;

                &.fa-search {
                    right: 15px;
                }

                &.fa-times {
                    right: 60px;
                    color: #ccc;
                }
            }
            & > input {
                display: block;
                width: 100%;
                padding: 40px;
                border: none;
                background: none;
                padding-left: 40px;

                &::placeholder {
                    color: #000;
                }
            }

            & > div.dropbox-produtos {
                width: 100%;
                position: absolute;
                background: #fff;
                z-index: 99999;
                border-bottom-left-radius: 30px;
                border-bottom-right-radius: 30px;
                padding-bottom: 30px;
                overflow: hidden;
                left: 0;
                padding-top: 10px;
                box-shadow: 0 10px 15px -3px rgb(0 0 0 / 7%), 0 4px 6px -2px rgb(0 0 0 / 5%) !important;
                display: none;

                &.expanded {
                    margin-bottom: 10px;

                    &:hover {
                        display: block;
                    }
                }

                & > div {
                    max-height: 40vh;
                    overflow-y: auto;
                    padding: 0 20px;

                    & > nav {
                        padding-bottom: 15px;

                        &:last-of-type {
                            padding-bottom: 0;
                        }

                        & > a {
                            display: block;
                            width: 100%;
                            padding-bottom: 10px;
                            color: #424242;

                            &:hover {
                                color: #ff0000;
                            }

                            & > div.loading {
                                width: 100%;
                                height: 10px;
                            }

                            & > img {
                                width: 32px;
                                padding-right: 5px;
                            }
                        }

                        &.loading {
                            & > a {
                                padding-bottom: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}

@import "responsive/busca-lg.scss";
@import "responsive/busca-md.scss";
@import "responsive/busca-sm.scss";
@import "responsive/busca-xs.scss";
@import "responsive/busca-xss.scss";
@import "responsive/busca-print.scss";
