// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(md) {
    div.loading {
        & > div.item-loading {
            &.loading-background {
                & > div.produto {
                    & > div.imagens {
                    }
    
                    & > div.info {
                        margin-top: 10px;
    
                        & > span {
                            &.produto-nome {
                                width: 100%;
                            }
                            &.produto-codigo {
                                width: 100%;
                            }
                            &.produto-valor {
                                width: 40%;
                            }
                            &.produto-botao {
                                width: 40%;
                            }
                        }
                    }
                }
            }
        }
    }
}