// Core variables and mixins
@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
    section {
        & > div.container {
            & > div.catalogo {
                & > div.box-filtro {
                    width: 40%;
                }
                & > div.box-produtos {
                    width: 60%;

                    & > div.produtos {
                        grid-template-columns: repeat(2, 1fr);
                    }
                }
            }
        }
    }
}
