<nav class="breadcrumb">
    <div class="container">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="['/carrinho']">Carrinho</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="['/endereco']">Endereço</a></li>
            <li class="separator">/</li>
            <li><a>{{title}}</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="carrinho">
            <div class="itens" *ngIf="carrinho && carrinho.produtos">
                <h3>{{title}}</h3>

                <form [formGroup]="form">
                    <!-- SELEÇÃO DE FORMA DE PAGAMENTO -->
                    <p><strong>Como deseja pagar?</strong></p>
                    <app-alert-message *ngIf="responseFormasPagamento" [result]='responseFormasPagamento'></app-alert-message>
                    <div class="formas-pagamento">
                        <ng-container *ngFor="let formaPagamento of formasPagamento">
                            <div class="pagamento theme-first-radios selected theme-second-border-color" *ngIf="formaPagamento[1].name !== 'BALANCE'">
                                <div class="selecao">
                                    <div class="input-radio">
                                        <input type="radio" name="pagamento" formControlName="pagamento" [value]="formaPagamento[1].name">
                                        <label></label>
                                    </div>
                                    <div class="text-content">
                                        <div class="tipo">
                                            <p *ngIf="formaPagamento[1].name === 'ONLINE_DEBIT'">
                                                <i class="fas fa-tablet-alt"></i>
                                                Débito Online
                                            </p>
                                            <p *ngIf="formaPagamento[1].name === 'DEPOSIT'">
                                                <i class="fas fa-donate"></i>
                                                Depósito Bancário
                                            </p>
                                            <p *ngIf="formaPagamento[1].name === 'CREDIT_CARD'">
                                                <i class="far fa-credit-card"></i>
                                                Cartão de crédito
                                            </p>
                                            <p *ngIf="formaPagamento[1].name === 'BOLETO'">
                                                <i class="fas fa-barcode"></i>
                                                Boleto
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <ul class="opcoes-extras" *ngIf="formaPagamento[1].name === 'ONLINE_DEBIT'">
                                    <ng-container *ngFor="let banco of formaPagamento.bancos">
                                        <li *ngIf="banco[1].status !== 'UNAVAILABLE'">
                                            <img src="{{carrinho.pagseguro.path}}{{banco[1].images['MEDIUM'].path}}" title="{{banco[1].displayName}}" alt="{{banco[1].displayName}}"/>
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </ng-container>
                    </div>
                </form>
            </div>
            <div class="info" *ngIf="carrinho && carrinho.produtos">
                <h3>Resumo</h3>
                <p class="info-produto">
                    <span>{{carrinho.qtde}} produto{{carrinho.qtde > 1 ? 's' : ''}}</span>
                    <span>{{carrinho.valor}}</span>
                </p>
                <p class="frete">
                    <span><strong>Frete</strong></span>
                    <span class="gratis" *ngIf="formaEntrega && !formaEntrega.valor">Grátis</span>
                    <span *ngIf="formaEntrega && formaEntrega.valor">{{formaEntrega.valor}}</span>
                    <span *ngIf="!formaEntrega">-</span>
                </p>
                <p class="total">
                    <span><strong>Total</strong></span>
                    <span>
                        <strong>{{carrinho.valorTotal}}</strong> <br />
                        <span>em até {{carrinho.valorTotalParcelado}} ou</span>
                    </span>
                </p>
                <p class="valor-avista" *ngIf="carrinho.valorAVista">{{carrinho.valorAVista}}</p>
                <form [formGroup]="formCupom" (submit)="consultarCupom()" *ngIf="!carrinho.cupom || (carrinho.cupom && !carrinho.cupom.valor)">
                    <app-alert-message *ngIf="responseCupom" [result]='responseCupom'></app-alert-message>
                    <div class="form-group row">
                        <div class="col-sm-12 col-lg-10 pe-0">
                            <input type="text" class="form-control" formControlName="cupom" placeholder="Cupom de desconto">
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-1 ms-1 ps-0">
                            <button type="submit" class="btn" [disabled]="formCupom.status === 'INVALID' || loadingServiceCupom">
                                <span *ngIf="!loadingServiceCupom">OK</span>
                                <span *ngIf="loadingServiceCupom" class="loading">
                                    <img src="/res/imagens/spinner-white.svg" style="width: 22px;" />
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
                <p class="cupom" *ngIf="carrinho.cupom && carrinho.cupom.valor">
                    <span>
                        <strong>Cupom</strong>
                    </span>
                    <span *ngIf="carrinho.cupom.tipo.id === 'PERCENTUAL'">
                        {{carrinho.cupom.valor}}% de desconto <br />
                        <button type="button" class="btn btn-secondary btn-sm">
                            {{carrinho.cupom.codigo}}
                            <span class="badge bg-light text-dark ms-2" (click)="removerCupom()"><i class="fas fa-times"></i></span>
                        </button>
                    </span>
                    <span *ngIf="carrinho.cupom.tipo.id !== 'PERCENTUAL'">
                        {{carrinho.cupom.valor | currency:'BRL':'symbol':'0.2-2':'pt'}} de desconto <br />
                        <button type="button" class="btn btn-secondary btn-sm">
                            {{carrinho.cupom.codigo}}
                            <span class="badge bg-light text-dark ms-2" (click)="removerCupom()"><i class="fas fa-times"></i></span>
                        </button>
                    </span>
                </p>
                <div class="botoes">
                    <a [routerLink]="[url, 'detalhes']">
                        <button type="button" class="custom buy" [disabled]="form.status === 'INVALID'">
                            Continuar
                        </button>
                    </a>
                </div>
            </div>
            <div class="carrinho-vazio" *ngIf="carrinho && (!carrinho.produtos || (carrinho.produtos && carrinho.produtos.length === 0))">
                <span class="icone">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <h3>Carrinho Vazio</h3>
                <p>Continue buscando os produtos desejados</p>
                <a [routerLink]="['/']">
                    <button class="info btn btn-primary btn-lg mt-4 ps-5 pe-5">
                        <span>Página inicial</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>