// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
    main {
        & > div.container {
            & > div.loading-banner {
                height: 400px;
            }
        }
    }

    section {
        & > div.container {
            & > div.banners {
                & > a {
                    &.banner {
                        height: 160px;
                    }
                }
                &.half {
                    & > a {
                        &.banner {
                            height: 160px;
                        }
                    }
                }
            }
        }
    }

    footer {
        padding: 30px 0;
        &.newsletter {
            & > div.container {
                & > div.cadastro {
                    & > span.titulo {
                        width: 30%;
                        font-size: 18px;
                        line-height: 24px;
                        & > strong {
                            font-size: 30px;
                        }
                    }
                    & > div.campo {
                        width: 65%;

                        & > form {
                            & > input {
                            }
                            & > button {
                            }
                        }

                        & > span {
                          
                        }
                    }
                }
            }
        }
    }
}
