// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(sm) {
    main {
        padding-top: 20px;
        & > div.container {
            & > div.loading-banner {
                height: 350px;
            }

            &>div.banner {
                ::ng-deep {
                    div.owl-theme {
                        min-height: inherit;
                        div.owl-nav {
                            display: none;
                            &>div.owl-prev,
                            &>div.owl-next {
                                &:hover {
                                }
            
                                &>i.fas,
                                &>i.fab {
                                }
                            }
                        }
            
                        div.owl-dots {
                            position: inherit;
                            transform: none;
                            left: 0;
                            bottom: 30px;
                            
                            &>div.owl-dot {
                                &:hover {
                                    &>span {
                                    }
                                }
            
                                &.active {
                                    &>span {
                                    }
                                }
            
                                &>span {
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    section {
        padding: 10px;
        &:first-of-type {
            padding-top: 20px;
        }
        & > div.container {
            & > h1 {
                font-size: 20px;
                margin-top: 10px;
                padding-bottom: 20px;
                justify-content: center;
            }
            
            & > div.banners {
                margin-top: 20px;
                & > a {
                    &.banner {
                        height: 265px;
                    }
                }
                &.half {
                    & > a {
                        &.banner {
                            height: 205px;
                        }
                    }
                }
            }
        }
    }
}
