// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@media (max-width: 479px) {
    section {
        & > div.container {
            & > div.banners {
                & > a {
                    &.banner {
                        height: 180px;
                    }
                }

                &.half{
                    & > a {
                        &.banner {
                            height: 180px;
                        }
                    }
                }
            }

            & > div.produtos {
                margin-top: 10px;
                ::ng-deep {
                    div.owl-theme {
                        div.owl-nav {
                            display: none;
                        }
    
                        div.owl-dots {
                            position: inherit;
                            bottom: -5px;
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 380px) {
    main {
        & > div.container {
            & > div.loading-banner {
                height: 180px;
            }
        }
    }
}

@media (max-width: 330px) {
}
