@import "../variables.scss";

button.custom {
    border: none;
    padding: 10px 50px;

    &.buy {
        font-weight: bold;
        font-size: 18px;
        background: #ff0000;
        color: #fff;

        &:disabled{
            background: #e68181;
            cursor: no-drop;
        }

        & > i {
            padding-right: 10px;
        }
    }
}
