@import "../variables.scss";

form {
    div.form-group,
    div.form-floating {
        & > label {
            & > span {
                & > sup {
                    color: #dc3545;
                }
            }

            &.large {
                font-size: 1.2rem;
            }

            &.full {
                display: block;
                width: 100%;
            }
        }

        & > input {
            border: 1px solid #ccc;
            border-radius: 0;
            box-shadow: none !important;
            position: relative;

            &.ng-touched {
                &.ng-valid {
                    border-color: #198754;
                }
                &.ng-invalid {
                    border-color: #dc3545;
                }
            }
        }

        & > input[type="text"] {
            &.large {
                font-size: 1.3rem;
                height: calc(1.5em + 1.7rem + 2px);
            }
        }

        & > input[type="file"] {
            border-radius: 0;
            border: none;
            padding: 11px;
            border: 1px solid #ced4da;
            width: 100%;
            height: calc(1.5em + 1.75rem + 2px);
            font-size: 1rem;
            border-radius: 0.25rem;
        }

        & > button {
            border-radius: 0;
            transition: all 0.25s ease;

            &.btn-block {
                width: 100%;
            }
            & > img {
                &.loading {
                    width: 100%;
                    height: 24px;
                }
            }

            &:disabled {
                opacity: 0.3;
                color: #fff !important;
            }
        }
    }
}

button {
    border-radius: 0;
    transition: all 0.25s ease;

    & > span.loading {
        & > img {
            width: 30px;
        }
    }

    &.btn-md {
        padding: 0.5rem 1rem;
        font-size: 1.25rem;
    }

    &.btn-lg {
        padding: 20px 60px;
    }
}

ng-select.ng-select {
    display: flex;
    flex-grow: 100;

    ::ng-deep {
        & > div.ng-select-container {
            border-radius: 0;
            padding: 0 11px;
            border: 1px solid #ced4da;
            min-height: calc(1.5em + 0.75rem + 2px);
            padding: 0.375rem 0.75rem;
            font-size: 1rem;

            span.ng-clear-wrapper {
                height: 100%;
                width: 18px;
                right: -10px;
                text-align: center;
                margin-right: 10px;
                color: #a3a3a3;
                & > span {
                    margin-top: 4px;
                }
            }
            span.ng-arrow {
                height: 8px;
                width: 8px;
            }

            & > div.ng-value-container {
                height: 100%;
                display: flex;

                & > div.ng-placeholder {
                    align-self: center;
                }
            }

            &.ng-has-value {
                & > div.ng-value-container {
                    & > div.ng-placeholder {
                        display: none;
                    }
                }
            }

            div.ng-input {
                height: 100%;
                font-size: 14px;
                top: 0;

                & > input {
                    height: 100%;
                    padding: 0 10px;
                }
            }

            & > span.ng-arrow-wrapper {
                cursor: pointer;
                position: relative;
                text-align: center;
                -webkit-user-select: none;
                -moz-user-select: none;
                -ms-user-select: none;
                user-select: none;
                width: 26px;
                height: 26px;
                background: #ccc;
                margin-left: 10px;
                border-radius: 50%;
                transition: transform 0.3s;

                & > span.ng-arrow {
                    border-style: solid;
                    border-width: 0.1rem 0.1rem 0 0;
                    height: 8px;
                    width: 8px;
                    top: -2px;
                    transform: rotate(135deg);
                    color: #444;
                }
            }
        }

        & > ng-dropdown-panel.ng-dropdown-panel {
            margin-top: 38px;
            margin-bottom: 0;
            border-radius: 0;
            box-shadow: 0 8px 16px 0 rgb(0 0 0 / 10%) !important;

            div.ng-option {
                color: #444;
                border-radius: 0;
                padding: 10px;
                background: #fff;

                &.ng-option-marked {
                    background-color: $secondary;
                    color: #fff;
                }
            }
        }
    }

    &.large {
        ::ng-deep {
            & > div.ng-select-container {
                padding: 1rem 0.75rem;
                border-radius: 0.25rem;
            }

            & > ng-dropdown-panel.ng-dropdown-panel {
                margin-top: 60px;
            }
        }
    }

    &.ng-select-opened {
        ::ng-deep {
            & > div.ng-select-container {
                & > span.ng-arrow-wrapper {
                    transform: rotate(180deg);
                    opacity: 1;
                }
            }
        }
    }

    &.ng-select-disabled {
        background: #e9ecef;

        ::ng-deep {
            & > div.ng-select-container {
                & > span.ng-arrow-wrapper {
                    background: #ddd;

                    & > span.ng-arrow {
                        color: #ccc;
                    }
                }

                & > div.ng-value-container {
                    & > div.ng-input {
                        & > input {
                            cursor: no-drop;
                        }
                    }
                }
            }
        }
    }

    &.ng-touched {
        &.ng-valid {
            ::ng-deep {
                & > div.ng-select-container {
                    border-color: #198754;
                }
            }
        }
        &.ng-invalid {
            ::ng-deep {
                & > div.ng-select-container {
                    border-color: #dc3545;
                }
            }
        }
    }
}
