i {
    &.icon {
        display: flex;
        width: 38px;
        height: 30px;
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        filter: brightness(3);

        &.icon-capacetes {
            background-image: url("../imagens/icones/capacetes.png");
            &.outline {
                background-image: url("../imagens/icones/capacetes_outline.png");
            }
        }
        &.icon-vestuario {
            background-image: url("../imagens/icones/vestuario.png");
        }

        &.icon-bigtrail {
            background-image: url("../imagens/icones/bigtrail.png");
        }

        &.icon-street {
            background-image: url("../imagens/icones/street.png");
        }

        &.icon-escapamentos {
            background-image: url("../imagens/icones/escapamentos.png");
        }
        &.icon-moto-frente {
            background-image: url("../imagens/icones/moto_frente.png");
        }
    }
}
