<nav class="breadcrumb">
    <div class="container">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="[url]">Pedidos</a></li>
            <li class="separator">/</li>
            <li><a>Detalhes</a></li>
        </ul>
    </div>
</nav>
<section class="principal">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-4 col-lg-4">
                <app-perfil-menu [active]="url"></app-perfil-menu>
            </div>
            <div class="col-xs-12 col-md-8 col-lg-8">
                <h3 class="titulo pb-3">{{title}}</h3>

                <div class="info" *ngIf="entity">
                    <p class="info-produto">
                        <span>{{entity.qtde}} produto{{entity.qtde > 1 ? 's' : ''}}</span>
                        <span>{{entity.valor}}</span>
                    </p>
                    <p class="frete" *ngIf="formaEntrega">
                        <span>
                            <strong>Frete</strong>
                        </span>
                        <span class="gratis" *ngIf="formaEntrega && !formaEntrega.valor">Grátis</span>
                        <span *ngIf="formaEntrega && formaEntrega.valor">{{formaEntrega.valor}}</span>
                        <span *ngIf="!formaEntrega">-</span>
                    </p>
                    <p class="total">
                        <span><strong>Total</strong></span>
                        <span>
                            <strong>{{entity.valorTotal}}</strong> <br />
                            <span>em até {{entity.valorTotalParcelado}}</span>
                        </span>
                    </p>
                </div>

                <div class="table-responsive" *ngIf="entity">
                    <table class="table">
                        <thead>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of entity.produtos; let i = index">
                                <td class="produto">
                                    <div class="produto">
                                        <div class="imagem" [ngStyle]="{'background-image': 'url(' + item.imagem + ')'}"></div>
                                        <p>
                                            <a [routerLink]="[urlProduto, item.produto.permalink]" [queryParams]="{op: item.id}" target="_blank">
                                                {{item.produto.nome}}
                                                <ng-container *ngIf="item.tipo_de_pintura">{{item.tipo_de_pintura.nome}}</ng-container>
                                            </a> <br />
                                            <ng-container *ngIf="item.cor"><strong>cor</strong>: {{item.cor.nome}} </ng-container> <br />
                                            <ng-container *ngIf="item.tamanhoOpcao"><strong>tamanho</strong>: {{item.tamanhoOpcao.nome}} </ng-container>
                                        </p>
                                    </div>
                                </td>
                                <td class="qtde">
                                    <div class="qtde">{{item.qtde}}</div>
                                </td>
                                <td class="valor">
                                    <div class="preco">
                                        <!-- PRECO VALOR PADRÃO RISCADO, POIS EXISTE VALOR PROMOCIONAL -->
                                        <p class="valor-normal" *ngIf="item.precoPromocional">{{item.precoVenda}}</p>

                                        <!-- PRECO VALOR PROMOCIONAL -->
                                        <p class="valor-vigente" *ngIf="item.precoPromocional">{{item.precoPromocional}}</p>

                                        <!-- PRECO VALOR PADRÃO -->
                                        <p class="valor-vigente" *ngIf="!item.precoPromocional">{{item.precoVenda}}</p>
                                    </div>
                                </td>
                            </tr>
                            <tr *ngIf="entity.formaPagamento">
                                <td colspan="3">
                                    <p class="mb-0"><strong>Forma de pagamento </strong></p>
                                    <span>
                                        <ng-container *ngIf="entity.formaPagamento === 'eft'">
                                            <i class="fas fa-tablet-alt"></i>
                                            Débito Online
                                        </ng-container>
                                        <ng-container *ngIf="entity.formaPagamento === 'deposit'">
                                            <i class="fas fa-donate"></i>
                                            Depósito Bancário
                                        </ng-container>
                                        <ng-container *ngIf="entity.formaPagamento === 'creditCard'">
                                            <i class="far fa-credit-card"></i>
                                            Cartão de crédito
                                        </ng-container>
                                        <ng-container *ngIf="entity.formaPagamento === 'boleto'">
                                            <i class="fas fa-barcode"></i>
                                            Boleto
                                        </ng-container>
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="endereco">
                                <td colspan="3">
                                    <p class="mb-0"><strong>Endereço de entrega</strong></p>
                                    <span>
                                        {{endereco.logradouro}}, {{endereco.numero ? endereco.numero : 'S/Nº'}}{{endereco.complemento ? ', ' : ''}}{{endereco.complemento}}<br />
                                        {{endereco.bairro}} - {{endereco.cidade.nome}}/{{endereco.cidade.estado.sigla}}<br />
                                        CEP {{endereco.cep}}
                                    </span>
                                </td>
                            </tr>
                            <tr *ngIf="formaEntrega">
                                <td colspan="3" class="last">
                                    <p class="mb-0"><strong>Forma de entrega</strong></p>
                                    <span>
                                        {{formaEntrega.nome}} <br />
                                        Prazo de entrega: {{formaEntrega.prazoEntrega}}
                                    </span>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>