<aside>
    <nav class="menu-mobile">
      <ul class="perfil">
        <li class="principal" *ngIf="!getUsuario()">
          <a [routerLink]="['/login']">
            <span>
              Olá, <strong>cadastre-se</strong> ou faça <strong>login</strong>
            </span>
          </a>
        </li>
        <li class="principal" *ngIf="getUsuario()">
          <a [routerLink]="['/perfil']">
            <span>
              Olá, <strong>{{ getUsuario().nome | firstName }}</strong>
            </span>
          </a>
        </li>
      </ul>
      <ul class="principal">
        <li (click)="toggleMenu()"><a href="#">Fechar</a></li>
        <li>
          <a class="destaque" [routerLink]="['/carrinho']">
            <span>&bull;&nbsp;</span>
            <strong>Meu carrinho (site)</strong>
          </a>
        </li>
        <li>
          <a class="destaque" [routerLink]="['/carrinho-wp']">
            <span>&bull;&nbsp;</span>
            <strong>Meu carrinho (whatsapp)</strong>
          </a>
        </li>
        <li *ngFor="let categoria of categorias">
          <a>
            <i class="icon icon-{{ categoria[0] }} outline"></i>
            <span>{{ categoria[1].nome }}</span>
          </a>
          <ul *ngIf="categoria[1] && categoria[1].categorias">
            <li>
              <a class="destaque" [routerLink]="['c', categoria[1].permalink]">
                <span>&bull;</span>
                <strong>Ver todos</strong>
              </a>
            </li>
            <li *ngFor="let subcategoria of categoria[1].categorias">
              <a
                [routerLink]="[
                  'c',
                  categoria[1].permalink,
                  subcategoria.permalink
                ]"
              >
                <span>&bull;</span>
                {{ subcategoria.nome }}
              </a>
            </li>
          </ul>
        </li>
        <li>
          <a [routerLink]="['/oficina-e-servicos']">
            <i class="icon icon-servicos"></i>
            <span>Oficina/Serviços</span>
          </a>
        </li>
        <li>
          <a href="https://motos.snakemotor.com.br" target="_blank">
            <i class="icon icon-moto-frente"></i>
            <span>Motos 0Km e Usadas</span>
          </a>
        </li>
      </ul>
    </nav>
  </aside>