// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(md) {
    footer {
        &.central {
            & > div.container {
                & > div.colunas {
                    & > div.coluna {
                        &.coluna-1 {
                            width: 100%;
                            & > p.copyright {
                                bottom: -10px;
                            }
                        }
                        &.coluna-2 {
                            width: 100%;

                            &>ul{
                                padding: 0;
                                border-left: 0;
                            }
                        }
                        &.coluna-3 {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}
