// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {    
    footer {
        &.central {
            & > div.container {
                & > div.colunas {
                    display: inline-block;
                    width: 100%;
                    & > div.coluna {
                        &.coluna-1 {
                            width: 50%;
                            display: inline-block;

                            &>p.copyright{
                                bottom: -10px;
                            }
                        }
                        &.coluna-2 {
                            width: 50%;
                            display: inline-block;
                        }
                        &.coluna-3 {
                            width: 100%;

                            &>iframe{
                                height: 250px;
                            }
                        }
                    }
                }
            }
        }

    }
}