<nav class="breadcrumb">
    <div class="container">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="['/carrinho']">Carrinho</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="['/endereco']">Endereço</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="['/pagamento']">Pagamento</a></li>
            <li class="separator">/</li>
            <li><a>{{title}}</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="carrinho">
            <!-- loading -->
            <div class="loading-produto-view" *ngIf="!carrinho">
                <div class="imagem">
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box quadrado full line"></div>
                </div>
                <div class="info">
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box small line mt-4 me-2"></div>
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box large line"></div>
                </div>
            </div>
            <div class="itens" *ngIf="carrinho && carrinho.produtos && carrinho.formaPagamento">
                <app-alert-message *ngIf="response" [result]='response'></app-alert-message>
                <h3>
                    <ng-container *ngIf="carrinho.formaPagamento.name === 'ONLINE_DEBIT'">
                        <i class="fas fa-tablet-alt"></i>
                        Pagar com Débito Online
                    </ng-container>
                    <ng-container *ngIf="carrinho.formaPagamento.name === 'CREDIT_CARD'">
                        <i class="far fa-credit-card"></i>
                        Pagar com Cartão de crédito
                    </ng-container>
                    <ng-container *ngIf="carrinho.formaPagamento.name === 'BOLETO'">
                        <i class="fas fa-barcode"></i>
                        Pagar com Boleto
                    </ng-container>
                    <ng-container *ngIf="carrinho.formaPagamento.name === 'pix'">
                        <i class="fas fa-qrcode"></i>
                        Pagar com PIX
                    </ng-container>
                    <ng-container *ngIf="carrinho.formaPagamento.name === 'deposito'">
                        <i class="fas fa-donate"></i>
                        Pagar com Depósito Bancário
                    </ng-container>
                    <a [routerLink]="[url]">Alterar forma de pagamento</a>
                </h3>

                <!-- PIX -->
                <div class="texto" *ngIf="carrinho.formaPagamento.name === 'pix'">
                    <p><strong>Instruções para pagar com Pix</strong></p>
                    <p>
                        1. Para efetuar o pagamento, copie a chave Pix ou aponte a câmera do seu smartphone para o QR Code. <br />
                        2. Abra o site ou aplicativo do seu banco e selecione a opção pagar com Pix. <br />
                        3. Após a transferencia, você receberá por e-mail a confirmação da compra. <br />
                    </p>

                    <p>
                        <strong>Atenção</strong> <br />
                        - O prazo de entrega começa a contar após a confirmação do pagamento.
                    </p>
                </div>

                <!-- DEPOSITO BANCÁRIO -->
                <div class="texto" *ngIf="carrinho.formaPagamento.name === 'deposito'">
                    <p><strong>Instruções para pagar com depósito bancário</strong></p>
                    <p>
                        <strong>1.</strong> Conclua a compra clicando no botão <strong>Concluir a compra</strong>. Você será direcionado para a Página
                        contendo os dados para realizar o depósito bancário.<br />
                        <strong>2.</strong> Para efetuar o depósito, dirija-se até a agência bancária com os dados fornecidos para depósito. <br />
                        <strong>3.</strong> Após a confirmação do depósito, você receberá por e-mail a confirmação do pagamento. <br />
                    </p>

                    <p>
                        <strong>Atenção</strong> <br />
                        - O prazo de entrega começa a contar após a confirmação do pagamento.
                    </p>
                </div>

                <!-- BOLETO -->
                <div class="texto" *ngIf="carrinho.formaPagamento.name === 'BOLETO'">
                    <p>O prazo para pagamento do boleto é de 2 dias úteis. Em caso de não pagamento até o vencimento, o pedido será automaticamente cancelado. O pedido será encaminhado somente após a confirmação de pagamento.</p>
                    <p><strong>Prazo para confirmação do pagamento</strong></p>
                    <p>
                    <ul>
                        <li>Após 24h para pagamentos efetuados até as 16h ou após 3 dias úteis para depósitos em caixa automático.</li>
                        <li>Após 48h para pagamentos efetuados depois das 16h ou 4 dias úteis para depósitos em caixa automático.</li>
                    </ul>
                    <p><strong>Instruções para impressão</strong></p>
                    <p>O boleto poderá ser impresso na próxima tela. Você deve imprimi-lo em uma impressora a laser ou a jato de tinta. Configure a impressora para o modo normal de impressão. Imprima em folha A4 (210x297 mm) ou Carta (210x279mm), branca. Não fure, amasse ou rasure o código de barras.</p>
                </div>

                <!-- DÉBITO ONLINE -->
                <div class="texto" *ngIf="carrinho.formaPagamento.name === 'ONLINE_DEBIT'">
                    <p>
                        Essa modalidade de pagamento consiste em fazer um pagamento instantâneo a partir de sua conta corrente.
                        O banco é conectado por meio de uma transação segura com seus dados e a aprovação do pagamento sai na hora, deixando o débito em sua fatura ou extrato bancário.
                    </p>
                    <p> Assim, você evita pegar filas, imprimir boletos, trabalhar com códigos digitais ou código de barras, facilitando o processo de compra.</p>
                    <p>No momento, as opções disponíveis para pagamento online são:</p>

                    <form [formGroup]="form">
                        <!-- SELEÇÃO DE BANCO -->
                        <p><strong>Selecione o seu banco</strong></p>
                        <div class="formas-pagamento">
                            <ng-container *ngFor="let banco of bancos">
                                <div class="pagamento theme-first-radios selected theme-second-border-color" *ngIf="banco[1].status !== 'UNAVAILABLE'">
                                    <div class="selecao">
                                        <div class="input-radio">
                                            <input type="radio" name="banco" formControlName="banco" [value]="banco[0]">
                                            <label></label>
                                        </div>
                                        <div class="text-content">
                                            <div class="tipo">
                                                <p>
                                                    <img src="{{carrinho.pagseguro.path}}{{banco[1].images['SMALL'].path}}" title="{{banco[1].displayName}}" alt="{{banco[1].displayName}}" />
                                                    {{banco[1].displayName}}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </div>
                    </form>
                </div>

                <!-- CARTÃO DE CRÉDITO -->
                <form [formGroup]="form" *ngIf="carrinho.formaPagamento.name === 'CREDIT_CARD'" (submit)="createCardToken()">
                    <div class="formulario">
                        <div class="col-xs-12 col-sm-12 col-lg-6 mb-2">
                            <ng-select class="large" formControlName="tipo" placeholder="Tipo de conta" notFoundText="Nenhum item encontrado" required>
                                <ng-option [value]="'FISICA'">Pessoa Física</ng-option>
                                <ng-option [value]="'JURIDICA'">Pessoa Jurídica</ng-option>
                            </ng-select>
                            <small class="form-text text-danger" *ngIf="form.controls.tipo.touched && form.controls.tipo.hasError('required')">Preencha o tipo de conta</small>
                        </div>
                        <div class="form-floating cartao col-xs-12 col-sm-12 col-lg-6 mb-2">
                            <input type="text" formControlName="numeroCartao" class="form-control" mask="0000.0000.0000.0000" placeholder="Número do cartão" required>
                            <img *ngIf="tipoCartao && tipoCartao.brand.name" src="{{carrinho.pagseguro.path}}{{carrinho.formaPagamento.options[tipoCartao.brand.name.toUpperCase()].images['SMALL'].path}}">
                            <label>Número do cartão</label>
                            <small class="form-text text-danger" *ngIf="form.controls.numeroCartao.touched && form.controls.numeroCartao.hasError('required')">Preencha o número do cartão</small>
                        </div>
                        <div class="form-floating  col-xs-12 col-sm-12 col-lg-12 mb-2">
                            <input type="text" formControlName="nome" class="form-control" placeholder="{{form.value.tipo === 'JURIDICA' ? 'Nome da empresa' : 'Nome do titular'}} (Conforme impresso no cartão)" required>
                            <label>{{form.value.tipo === 'JURIDICA' ? 'Nome da empresa' : 'Nome do titular'}} (Conforme impresso no cartão)</label>
                            <small class="form-text text-danger" *ngIf="form.controls.nome.touched && form.controls.nome.hasError('required')">Preencha o nome</small>
                        </div>
                        <div class="form-floating col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-2">
                            <input type="text" formControlName="validade" class="form-control" mask="00/0000" placeholder="Validade (MM/AAAA)" required>
                            <label>Validade (MM/AAAA)</label>
                            <small class="form-text text-danger" *ngIf="form.controls.validade.touched && form.controls.validade.hasError('required')">Preencha a validade</small>
                        </div>
                        <div class="form-floating col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-2">
                            <input type="text" formControlName="cvv" class="form-control" placeholder="CVV (código de segurança)" maxlength="{{tipoCartao && tipoCartao.brand.cvvSize ? tipoCartao.brand.cvvSize : 4}}" required>
                            <label>CVV (código de segurança)</label>
                            <small class="form-text text-danger" *ngIf="form.controls.cvv.touched && form.controls.cvv.hasError('required')">Preencha o CVV</small>
                        </div>
                        <div class="form-floating col-xs-12 col-sm-12 col-lg-6 mb-2">
                            <input type="text" formControlName="cpfCnpj" class="form-control" [mask]="form.value.tipo === 'JURIDICA' ? '00.000.000/0000-00' : '000.000.000-00'" [placeholder]="form.value.tipo === 'JURIDICA' ? 'CNPJ' : 'CPF do Títular'" required>
                            <label>{{form.value.tipo === 'JURIDICA' ? 'CNPJ' : 'CPF do Títular'}}</label>
                            <small class="form-text text-danger" *ngIf="form.controls.cpfCnpj.touched && form.controls.cpfCnpj.hasError('required')">Preencha o {{form.value.tipo === 'JURIDICA' ? 'CNPJ' : 'CPF'}}</small>
                        </div>
                        <div class="form-floating col-xs-12 col-sm-12 col-md-6 col-lg-4 mb-2" *ngIf="!form.value.tipo || (form.value.tipo === 'FISICA')">
                            <input type="text" formControlName="dataNascto" class="form-control" placeholder="Data de nascimento" mask="00/00/0000">
                            <label>Data de Nascimento</label>
                        </div>
                        <!-- CAMPO DE PARCELAMENTO com VALORES PREENCHIDOS -->
                        <div class="col-xs-12 col-sm-12 col-lg-12 mb-2" *ngIf="parcelamento && parcelamento.installments">
                            <ng-select class="large" formControlName="qtdeParcelas" placeholder="Como deseja pagar?" notFoundText="Nenhum item encontrado" required>
                                <ng-option [value]="parcela.quantity" *ngFor="let parcela of parcelamento.installments[tipoCartao.brand.name]"><strong>{{parcela.quantity}}x</strong> de <strong>{{parcela.installmentAmount | currency:'BRL':'symbol':'0.2-2':'pt'}}</strong> (total {{parcela.totalAmount | currency:'BRL':'symbol':'0.2-2':'pt'}} {{parcela.interestFree ? 'sem juros' : 'com juros'}})</ng-option>
                            </ng-select>
                            <small class="form-text text-danger" *ngIf="form.controls.qtdeParcelas.touched && form.controls.qtdeParcelas.hasError('required')">Selecione como deseja pagar</small>
                        </div>

                        <!-- CAMPO DE PARCELAMENTO SEM VALORES PREENCHIDOS -->
                        <div class="col-xs-12 col-sm-12 col-lg-12 mb-2" *ngIf="!parcelamento">
                            <ng-select class="large" formControlName="qtdeParcelas" placeholder="Como deseja pagar?" notFoundText="Nenhum item encontrado" required> </ng-select>
                        </div>
                        <div class="form-floating col-xs-12 col-sm-12 col-lg-12 mb-2 mt-4" *ngIf="form.status === 'VALID'">
                            <button type="submit" class="custom buy" [disabled]="form.status === 'INVALID' || loadingService">
                                <span *ngIf="!loadingService">
                                    <i class="fas fa-check pe-2"></i>
                                    Concluir a Compra
                                </span>
                                <span *ngIf="loadingService" class="loading">
                                    <img src="/res/imagens/spinner-white.svg" />
                                    Enviando... Aguarde!
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="info" *ngIf="carrinho && carrinho.produtos">
                <h3>Resumo</h3>
                <p class="info-produto">
                    <span>{{carrinho.qtde}} produto{{carrinho.qtde > 1 ? 's' : ''}}</span>
                    <span>{{carrinho.valor}}</span>
                </p>
                <p class="frete">
                    <span><strong>Frete</strong></span>
                    <span class="gratis" *ngIf="formaEntrega && !formaEntrega.valor">Grátis</span>
                    <span *ngIf="formaEntrega && formaEntrega.valor">{{formaEntrega.valor}}</span>
                    <span *ngIf="!formaEntrega">-</span>
                </p>
                <p class="total">
                    <span><strong>Total</strong></span>
                    <span>
                        <ng-container *ngIf="carrinho.formaPagamento.name !== 'CREDIT_CARD'">
                            <strong>{{carrinho.valorAVistaNum | currency:'BRL':'symbol':'0.2-2':'pt'}}</strong> <br />
                        </ng-container>
                        <ng-container *ngIf="carrinho.formaPagamento.name === 'CREDIT_CARD'">
                            <strong>{{carrinho.valorTotal}}</strong> <br />
                        </ng-container>
                        <span>
                            <ng-container *ngIf="carrinho.formaPagamento.name === 'CREDIT_CARD'">em até {{carrinho.valorTotalParcelado}}</ng-container>
                            <!-- <ng-container *ngIf="carrinho.valorAVista && carrinho.formaPagamento.name !== 'CREDIT_CARD'"> ou </ng-container> -->
                        </span>
                    </span>
                </p>
                <p class="valor-avista text-success" *ngIf="carrinho.descricaoDesconto && carrinho.formaPagamento.name !== 'CREDIT_CARD'"><strong>{{carrinho.descricaoDesconto}}</strong></p>
                <p class="cupom" *ngIf="carrinho.cupom && carrinho.cupom.valor">
                    <span>
                        <strong>Cupom</strong>
                    </span>
                    <span *ngIf="carrinho.cupom.tipo.id === 'PERCENTUAL'">
                        {{carrinho.cupom.valor}}% de desconto <br />
                        <button type="button" class="btn btn-secondary btn-sm">
                            {{carrinho.cupom.codigo}}
                        </button>
                    </span>
                    <span *ngIf="carrinho.cupom.tipo.id !== 'PERCENTUAL'">
                        {{carrinho.cupom.valor | currency:'BRL':'symbol':'0.2-2':'pt'}} de desconto <br />
                        <button type="button" class="btn btn-secondary btn-sm">
                            {{carrinho.cupom.codigo}}
                        </button>
                    </span>
                </p>
                <div class="botoes">
                    <a>
                        <button type="button" class="custom buy" [disabled]="form && form.status === 'INVALID' || loadingService" (click)="carrinho.formaPagamento.name === 'CREDIT_CARD' ? createCardToken() : finalizarCompra()">
                            <span *ngIf="!loadingService">
                                <i class="fas fa-check pe-2"></i>
                                Concluir a Compra
                            </span>
                            <span *ngIf="loadingService" class="loading">
                                <img src="/res/imagens/spinner-white.svg" />
                                Enviando... Aguarde!
                            </span>
                        </button>
                    </a>
                </div>
            </div>
            <div class="carrinho-vazio" *ngIf="carrinho && (!carrinho.produtos || (carrinho.produtos && carrinho.produtos.length === 0))">
                <span class="icone">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <h3>Carrinho Vazio</h3>
                <p>Continue buscando os produtos desejados</p>
                <a [routerLink]="['/']">
                    <button class="info btn btn-primary btn-lg mt-4 ps-5 pe-5">
                        <span>Página inicial</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>