<a [routerLink]="[url, item.produto.permalink]" [queryParams]="{op: item.id}" class="produto tag" *ngIf="item && item.produto">
    <div class="tags">
        <span class="tag lancamento" *ngIf="item.produto.lancamento">Lançamento</span>
        <span class="tag exclusivo" *ngIf="item.produto.exclusivoSite">Exclusivo no site</span>
        <span class="tag frete-gratis" *ngIf="item.produto.freteGratis">Frete Grátis</span>
    </div>
    <div class="imagem" [ngStyle]="{'background-image': 'url(' + item.imagem + ')'}"></div>
    <div class="info">
        <p>
            <span class="nome">
                {{item.produto.nome}}
                <ng-container *ngIf="item.genero">{{item.genero.nome}} </ng-container>
                <ng-container *ngIf="item.cor">{{item.cor.nome}} </ng-container>
                <ng-container *ngIf="item.tipo_de_pintura">{{item.tipo_de_pintura.nome}}</ng-container>
                <ng-container *ngIf="item.viseira">{{item.viseira.nome === 'Sim' ? ' Com viseira ' : ' Sem viseira '}} </ng-container>
            </span>
            <span class="variacoes">
                <span *ngIf="item.material">{{item.material.nome}}</span>
                <span *ngIf="item.caracteristica" alt="caracteristica" title="caracteristica">{{item.caracteristica.nome}}</span>
            </span>
            <span>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star"></i>
            </span>
        </p>

    </div>
    <div class="preco">
        <!-- PRECO VALOR PADRÃO RISCADO, POIS EXISTE VALOR PROMOCIONAL -->
        <p class="valor-normal" [ngClass]="{empty: !item.precoPromocional}">{{item.precoPromocional ? item.precoVenda : '&nbsp;'}}</p>
        <!-- PRECO VALOR PROMOCIONAL -->
        <p class="valor-vigente" *ngIf="item.precoPromocional">{{item.precoPromocional}}</p>
        <p class="valor-parcelado" *ngIf="item.precoPromocional && item.precoPromocionalParcelado">{{item.precoPromocionalParcelado}}</p>

        <!-- PRECO VALOR PADRÃO -->
        <p class="valor-vigente" *ngIf="!item.precoPromocional">{{item.precoVenda}}</p>
        <p class="valor-parcelado" *ngIf="!item.precoPromocional && item.precoVendaParcelado">{{item.precoVendaParcelado}}</p>
    </div>
</a>