<a [routerLink]="[url, item.produto.permalink]" [queryParams]="{op: item.id}" class="produto tag" *ngIf="item && item.produto">
    <div class="tags">
        <span class="tag lancamento" *ngIf="item.produto.lancamento">Lançamento</span>
        <span class="tag exclusivo" *ngIf="item.produto.exclusivoSite">Exclusivo no site</span>
        <span class="tag frete-gratis" *ngIf="item.produto.freteGratis">Frete Grátis</span>
    </div>
    <div class="imagem" [ngStyle]="{'background-image': 'url(' + item.imagem + ')'}"></div>
    <div class="info">
        <p>
            {{item.produto.nome}}
            <span>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star pe-1"></i>
                <i class="fas fa-star"></i>
            </span>
        </p>

    </div>
    <div class="preco" *ngIf="item.preco">
        <!-- PRECO VALOR PADRÃO RISCADO, POIS EXISTE VALOR PROMOCIONAL -->
        <p class="valor-normal" [ngClass]="{empty: !item.preco.desconto}">{{item.preco.desconto ? (item.preco.normal | currency:'BRL':'symbol':'0.2-2':'pt') : '&nbsp;'}}</p>
        
        <!-- PRECO VALOR PROMOCIONAL -->
        <p class="valor-vigente" *ngIf="item.preco.desconto">{{item.preco.desconto | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
        <p class="valor-parcelado" *ngIf="item.preco.desconto">10x R$ {{(item.preco.desconto/10) | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>

        <!-- PRECO VALOR PADRÃO -->
        <p class="valor-vigente" *ngIf="!item.preco.desconto">{{item.preco.normal | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
        <p class="valor-parcelado" *ngIf="!item.preco.desconto">10x R$ {{(item.preco.normal/10) | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
    </div>
</a>