@import "../../../res/variables.scss";
@import "../../../res/scss/form.scss";
@import "../../../res/scss/buttons.scss";

section {
    &.produto-detail {
        background: #fff;
    }
    & > div.container {
        & > div.carrinho {
            background: #fff;
            display: flex;
            justify-content: space-between;
            width: 100%;
            padding: 25px;
            margin-bottom: 40px;

            & > div {
                & > h3 {
                    margin: 0;
                    padding: 0;
                    color: #747474;
                    font-weight: bold;
                    margin-bottom: 20px;
                }
            }
            & > div.itens {
                width: 60%;

                & > h3 {
                    padding-top: 25px;
                }

                & > div.table-responsive {
                    & > table {
                        color: #747474;
                        margin-bottom: 2px;
                        & > thead {
                            & > th {
                                border-bottom: 1px solid #d2d2d2;
                                padding-bottom: 5px;
                                font-weight: bold;
                                text-transform: lowercase;
                                text-align: center;

                                &:first-of-type {
                                    text-align: left;
                                }
                            }
                        }

                        & > tbody {
                            & > tr {
                                & > td {
                                    vertical-align: middle;

                                    &.produto {
                                        width: 100%;
                                    }

                                    &.qtde {
                                        min-width: 130px;
                                    }

                                    &.valor {
                                        min-width: 100px;
                                    }

                                    & > div.produto {
                                        display: flex;
                                        justify-content: flex-start;
                                        align-items: center;
                                        vertical-align: middle;
                                        padding-right: 20px;

                                        & > div.imagem {
                                            width: 64px;
                                            height: 64px;
                                            background-size: contain;
                                            background-repeat: no-repeat;
                                            background-position: center;
                                            margin-right: 15px;
                                        }

                                        & > p {
                                            & > a {
                                                color: #747474;
                                                font-weight: bold;
                                                margin: 0;
                                                padding: 0;
                                            }
                                        }
                                    }

                                    & > div.qtde {
                                        display: flex;
                                        align-items: center;
                                        & > input.qtde {
                                            border: 2px solid #e0e0e0;
                                            border-right: 0;
                                            border-left: 0;
                                            text-align: center;
                                            font-weight: bold;
                                            padding: 5px 0;
                                            width: 64px;
                                            height: 45px;
                                        }

                                        & > button.btn {
                                            display: flex;
                                            border: 2px solid #e0e0e0;
                                            border-radius: 5px;
                                            color: #ff0000;
                                            font-size: 28px;
                                            padding-top: 0;
                                            padding-bottom: 0;
                                            height: 45px;
                                            align-items: center;
                                            &.btn-start {
                                                border-top-right-radius: 0;
                                                border-bottom-right-radius: 0;
                                                border-right: 0;
                                                font-size: 38px;
                                                padding-bottom: 7px;
                                            }

                                            &.btn-end {
                                                border-top-left-radius: 0;
                                                border-bottom-left-radius: 0;
                                                border-left: 0;
                                            }

                                            &:disabled{
                                                cursor: not-allowed;
                                            }
                                        }
                                    }

                                    & > div.remover {
                                        display: block;
                                        text-align: center;
                                        width: 100%;
                                        & > button {
                                            color: $text-primary;
                                            font-size: 14px;
                                            margin: 0;
                                            padding: 0;
                                        }
                                    }

                                    & > div.preco {
                                        text-align: center;
                                        min-width: 100px;
                                        & > p {
                                            margin-bottom: 0;
                                            color: $text-primary;

                                            &.valor-normal {
                                                font-size: 13px;
                                                text-decoration: line-through !important;
                                                color: #636363;

                                                &.empty {
                                                    text-decoration: none !important;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > div.frete {
                    border-top: 1px solid #dee2e6;
                    padding-top: 20px;
                    & > form {
                        & > div.form-group {
                            & > label {
                                color: #575757;
                                &.titulo {
                                    padding-bottom: 5px;
                                    font-weight: bold;
                                }
                            }

                            & > div {
                                &.center {
                                    align-items: center;
                                    display: flex;
                                }
                                & > input {
                                    width: 100%;
                                }

                                & > button {
                                    background: #747474;
                                    color: #fff;
                                }
                            }
                        }

                        & > div.frete-tipos {
                            margin-top: 20px;
                            & > div.form-group {
                                background: #f2f2f2;
                                padding: 15px;

                                &.form-check {
                                    display: flex;
                                    justify-content: space-between;
                                    & > label {
                                        display: flex;
                                        & > input {
                                            margin-left: 0;
                                            margin-right: 10px;
                                        }

                                        & > span {
                                            & > span {
                                                font-weight: bold;
                                                &.gratis {
                                                    color: #22ea27;
                                                }
                                            }
                                        }

                                        & > small {
                                            display: flex;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                & > div.cupom {
                    margin-top: 40px;
                    & > p {
                        color: $text-primary;
                        font-size: 14px;
                    }
                }
            }

            & > div.info {
                background: #f6f6f6;
                width: 35%;
                padding: 25px;

                & > p {
                    display: flex;
                    margin: 0;
                    padding: 0;
                    color: #575757;
                    & > span {
                        width: 50%;
                        display: flex;

                        &:first-of-type {
                            justify-content: flex-start;
                        }
                        &:last-of-type {
                            justify-content: flex-end;
                        }

                        &.gratis {
                            color: #22ea27;
                            font-weight: bold;
                        }
                    }

                    &.frete {
                        padding-bottom: 20px;
                        margin-bottom: 20px;
                        border-bottom: 1px solid #e3e3e3;
                    }

                    &.total {
                        margin-bottom: 20px;
                        & > span {
                            &:last-of-type {
                                display: block;
                                text-align: right;

                                & > span {
                                    font-size: 13px;
                                }
                            }
                        }
                    }
                }

                & > div.botoes {
                    display: block;
                    width: 100%;
                    text-align: center;
                    & > button {
                        padding: 15px 0;
                        width: 100%;
                        margin: 20px 0;
                    }

                    & > a {
                        & > button {
                            color: #575757;
                            background: none;
                            border: none;
                            font-weight: bold;
                        }
                    }
                }
            }

            & > div.carrinho-vazio {
                width: 100%;
                display: block;
                text-align: center;
                padding: 60px 0;

                & > span.icone {
                    background: #fff;
                    display: inline-block;
                    width: 120px;
                    height: 120px;
                    border-radius: 50%;
                    padding: 5px;

                    & > i {
                        border-radius: 50%;
                        width: 100px;
                        height: 100px;
                        background: #efefef;
                        color: #2d3f48;
                        font-size: 40px;
                        padding-top: 30px;
                        padding-left: 0;
                    }
                } 

                & > h3,
                & > p {
                    margin: 0;
                    color: #807f7f;
                }
            }
        }
    }
}

@import "responsive/carrinho-detail-xl.scss";
@import "responsive/carrinho-detail-lg.scss";
@import "responsive/carrinho-detail-md.scss";
@import "responsive/carrinho-detail-sm.scss";
@import "responsive/carrinho-detail-xss.scss";
@import "responsive/carrinho-detail-print.scss";
