// Core variables and mixins
@import "../../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(lg) {
    section {
        & > div.container {
            & > div.carrinho {
                display: inline-block;
                width: 100%;
                padding: 15px;

                & > div.itens {
                    width: 100%;
                }
                & > div.info {
                    margin-top: 20px;
                    width: 100%;
                }
            }
        }
    }
}