<!-- FORMATO DE CARROSSEL -->
<div class="produtos" *ngIf="formato === 'carrossel' && produtos">
    <owl-carousel-o [options]="options">
        <ng-template carouselSlide *ngFor="let entity of produtos">
            <div class="produto-item">
                <a [routerLink]="['/produtos', entity.id, entity.nome | formatUrl]">
                    <div class="imagem" [style.background-image]="'url(' + entity.fotos[0].thumb + ')'" *ngIf="entity.fotos && entity.fotos.length > 0"></div>
                    <div class="imagem-empty" *ngIf="!entity.fotos || (entity.fotos && entity.fotos.length === 0)"></div>
                    <span class="nome">{{entity.nome}}</span>
                    <span class="preco" *ngIf="getUsuario()">{{entity.precoVenda | currency:'BRL':'symbol':'0.2-2':'pt'}}</span>
                </a>
                <span class="login" *ngIf="!getUsuario()"><a [routerLink]="['/login']">Faça o login <br /> para visualizar o preço</a></span>
                <button *ngIf="getUsuario() && !entity.cores" class="comprar" (click)="adicionarCarrinho(entity)" [disabled]="jaPossuiCarrinho(entity)">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Comprar</span>
                </button>
                <button *ngIf="getUsuario() && entity.cores" class="comprar" [disabled]="jaPossuiCarrinho(entity)" [routerLink]="['/produtos', entity.id, entity.nome | formatUrl]">
                    <i class="fas fa-shopping-cart"></i>
                    <span>Comprar</span>
                </button>
            </div>
        </ng-template>
    </owl-carousel-o>
</div>

<!-- FORMATO DE LISTA GERAL -->
<div class="produtos geral" *ngIf="formato === 'geral' && produtos">
    <div class="produto-item" *ngFor="let entity of produtos">
        <a [routerLink]="['/produtos', entity.id, entity.nome | formatUrl]">
            <div class="imagem" [style.background-image]="'url(' + entity.fotos[0].thumb + ')'" *ngIf="entity.fotos && entity.fotos.length > 0"></div>
            <div class="imagem-empty" *ngIf="!entity.fotos || (entity.fotos && entity.fotos.length === 0)"></div>
            <span class="nome">{{entity.nome}}</span>
            <span class="preco" *ngIf="getUsuario()">{{entity.precoVenda | currency:'BRL':'symbol':'0.2-2':'pt'}}</span>
        </a>
        <span class="login" *ngIf="!getUsuario()"><a [routerLink]="['/login']">Faça o login <br /> para visualizar o preço</a></span>
        <button *ngIf="getUsuario() && !entity.cores" class="comprar" (click)="adicionarCarrinho(entity)" [disabled]="jaPossuiCarrinho(entity)">
            <i class="fas fa-shopping-cart"></i>
            <span>Comprar</span>
        </button>
        <button *ngIf="getUsuario() && entity.cores" class="comprar" [disabled]="jaPossuiCarrinho(entity)" [routerLink]="['/produtos', entity.id, entity.nome | formatUrl]">
            <i class="fas fa-shopping-cart"></i>
            <span>Comprar</span>
        </button>
    </div>
</div>
<app-modal-carrinho [modalCarrinhoOpen]='modalCarrinhoOpen'></app-modal-carrinho>