@import "../../../res/variables.scss";
@import "../../../res/scss/form.scss";
@import "../../../res/scss/buttons.scss";

header {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    text-align: center;
    background-color: #1c1c1c;
    box-shadow: -3px -1px 10px -2px rgb(56 51 56 / 30%) !important;
    padding: 10px 0;
    z-index: 1059;

    & > div.container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        & > a {
            & > div.logo {
                width: 130px;
                height: 75px;
                background: url("../../../res/imagens/logo.png") no-repeat center center;
                background-size: 100% auto;
                cursor: pointer;
                align-self: center;

                @include transition(all, linear, 0.5s);
            }
        }
    }
}
main {
    margin-top: 100px;
    background: #eeeeee;
    & > div.container {
        & > form {
            & > div.accordion {
                z-index: 1;
                margin: 0 25vh;

                & > div.accordion-item {
                    & > div {
                        & > div.accordion-body {
                        }
                    }
                }
            }
        }
    }
}

div.modal {
    & > div.modal-dialog {
        & > div.modal-content {
            & > div.modal-body {
                & > div.message {
                    display: block;
                    text-align: center;
                    width: 100%;
                    & > div.icon {
                        background: #efefef;
                        width: 100px;
                        height: 100px;
                        border-radius: 50%;
                        padding: 10px;
                        margin: auto;
                        margin-bottom: 20px;
                        & > i {
                            color: #2f9646;
                            font-size: 40px;
                            align-items: center;
                            display: flex;
                            width: 100%;
                            height: 100%;
                            justify-content: center;
                        }
                    }

                    & > h3 {
                        color: #383d41;
                    }
                }
            }
        }
    }
}

@import "responsive/cadastro-xl.scss";
@import "responsive/cadastro-lg.scss";
@import "responsive/cadastro-md.scss";
@import "responsive/cadastro-sm.scss";
@import "responsive/cadastro-xss.scss";
@import "responsive/cadastro-print.scss";
