// Core variables and mixins
@import "../../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../../node_modules/bootstrap/scss/mixins";

@include media-breakpoint-down(md) {
    section {
        & > div.container {
            & > div.produto {
                & > div.info {
                    & > form.variacoes {
                        & > div.cor {
                            & > div.itens {
                                grid-template-columns: repeat(4, 1fr);
                                & > a {
                                    & > div.item {
                                        height: 100px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            & > div.produto-extra-info {
                & > ul {
                    & > li {
                        & > button {
                            font-size: 14px !important;
                        }
                    }
                }

                & > ul#tab {
                    padding-left: 0;
                }

                & > div.tab-content {
                    padding: 10px;
    
                    & > div.tab-pane {
                        &>iframe{
                            width: 100%;
                            height: 300px;
                        }
                    }
                }
            }
        }
        &.outros-produtos {
            & > div.container {
                & > div.produtos {
                    grid-template-columns: repeat(2, 1fr);

                    & > app-produto-componente {
                        &:last-of-type {
                            display: inherit;
                        }
                    }
                }
            }
        }
    }
}
