// Core variables and mixins
// @import "../../../../node_modules/bootstrap/scss/functions";
// @import "../../../../node_modules/bootstrap/scss/variables";
// @import "../../../../node_modules/bootstrap/scss/mixins";

@import "../../../res/variables.scss";

footer {
  background-color: $primary;
  padding: 40px 0;
  max-width: 100vw;

  @include transition(all, linear, 0.3s);

  &.central {
    padding: 20px 0;
    background: #000;

    & > div.container {
      & > div.colunas {
        display: flex;
        justify-content: space-between;

        & > div.coluna {
          width: 32%;

          & > p {
            color: #dadada;

            &.copyright {
              position: absolute;
              color: #5b5a5a;
              bottom: 0;
              margin: 0;
            }
          }

          &.coluna-1 {
            position: relative;
            padding-top: 40px;
            & > div.logo {
              width: 150px;
              height: 85px;
              background: url("../../../res/imagens/logo.png") no-repeat center
                center;
              background-size: 100% auto;
              margin-bottom: 20px;
            }

            & > div.redes-sociais {
              & > p {
                color: #dadada;
                margin-top: 40px;
              }
              & > ul {
                display: flex;
                list-style: none;
                padding: 0;

                & > li {
                  padding-right: 15px;
                  font-size: 30px;

                  & > a {
                    color: #dadada;
                  }
                }
              }
            }

            & > div.app {
              & > p {
                color: #dadada;
                margin-top: 40px;
              }
              & > ul {
                display: flex;
                list-style: none;
                padding: 0;

                & > li {
                  & > a {
                    & > img {
                      width: 150px;
                    }
                  }
                }
              }
            }
          }

          &.coluna-2 {
            padding-top: 40px;
            & > ul {
              border-left: 1px solid #28303c;
              list-style: none;
              padding: 0;
              padding-left: 40px;

              &:first-of-type {
                margin-bottom: 40px;
              }

              & > li {
                color: #dadada;

                &.titulo {
                  padding-bottom: 20px;
                }

                &:last-of-type {
                  padding-bottom: 20px;
                }

                & > a {
                  color: #dadada;

                  & > img {
                    width: 150px;
                  }
                }
              }
            }
          }

          &.coluna-3 {
            background: #3b3b3b;
            padding: 30px;

            & > p {
              display: flex;
              margin-bottom: 5px;
              margin-top: 10px;

              & > strong {
                margin-bottom: 20px;
              }

              & > a {
                color: #dadada;
              }

              &.tour-virtual {
                & > img {
                  width: 40px;
                }
              }
            }

            & > iframe {
              width: 100%;
              margin: 15px 0;
              border-radius: 5px;
              border: 0;
            }
          }
        }
      }
    }
  }

  &.inferior {
    padding: 15px 0;
    background: #fff;

    & > div.container {
      & > div {
        display: flex;
        justify-content: space-between;
        align-items: center;

        & > div.info {
          flex-wrap: wrap;
          text-align: center;
          & > img {
            width: 200px;

            &.site-seguro {
              width: 115px;
            }
          }

          & > a {
            & > img {
              width: 115px;
            }
          }
          & > span {
            width: 100%;
            display: inline-block;
            color: #8c8c8c;
            font-size: 13px;
          }
        }
        & > div.dfgpublicidade {
          flex-wrap: wrap;
          text-align: center;

          & > a {
            color: #575656;

            & > span {
              width: 100%;
              display: inline-block;
              margin-bottom: 5px;
            }
            & > img {
              width: 80px;
            }
          }
        }
      }
    }
  }
}

div#botao-whatsapp {
  width: 60px;
  height: 60px;
  position: fixed;
  bottom: 40px;
  right: 40px;
  background-color: #0fbd69;
  box-shadow: 0 0 0 0 rgb(61 232 123 / 70%);
  -webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  text-align: center;
  line-height: 60px;
  font-size: 30px;
  border-radius: 30px;
  z-index: 1;

  &:hover {
    -webkit-animation: none;
    -moz-animation: none;
    -ms-animation: none;
    animation: none;
  }

  & > a {
    color: #fff;
    display: block;
    width: 100%;
    height: 100%;
    line-height: 60px;
  }
}

@-webkit-keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@-moz-keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@-ms-keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}
@keyframes pulse {
  to {
    box-shadow: 0 0 0 30px rgba(232, 76, 61, 0);
  }
}

@import "responsive/footer-lg.scss";
@import "responsive/footer-md.scss";
@import "responsive/footer-sm.scss";
@import "responsive/footer-xs.scss";
@import "responsive/footer-xss.scss";
@import "responsive/footer-print.scss";
