<div class="btn-group-fab" role="group" aria-label="FAB Menu" *ngIf="configuracao">
    <div>
        <a href="javascript:void(0)" class="btn btn-main btn-success has-tooltip">
            <button type="button" data-placement="left" title="Menu">
                <i class="fab fa-whatsapp"></i>
            </button>
        </a>
        <a href="https://wa.me/55{{getOnlyNumber(configuracao.telefone)}}" target="_blank" class="btn btn-sub btn-success has-tooltip" *ngIf="configuracao.whatsapp">
            <button type="button" data-placement="left" title="Fullscreen">
                <i class="fab fa-whatsapp"></i>
                {{configuracao.telefone}}
            </button>
        </a>
        <a href="https://wa.me/55{{getOnlyNumber(configuracao.telefone2)}}" target="_blank" class="btn btn-sub btn-success has-tooltip" *ngIf="configuracao.whatsapp2">
            <button type="button" data-placement="left" title="Fullscreen">
                <i class="fab fa-whatsapp"></i>
                {{configuracao.telefone2}}
            </button>
        </a>
        <a href="https://wa.me/55{{getOnlyNumber(configuracao.telefone3)}}" target="_blank" class="btn btn-sub btn-success has-tooltip" *ngIf="configuracao.whatsapp3">
            <button type="button" data-placement="left" title="Fullscreen">
                <i class="fab fa-whatsapp"></i>
                {{configuracao.telefone3}}
            </button>
        </a>
        <a href="https://wa.me/55{{getOnlyNumber(configuracao.telefone4)}}" target="_blank" class="btn btn-sub btn-success has-tooltip" *ngIf="configuracao.whatsapp4">
            <button type="button" data-placement="left" title="Fullscreen">
                <i class="fab fa-whatsapp"></i>
                {{configuracao.telefone4}}
            </button>
        </a>
    </div>
</div>
<footer>
    <div class="container">
        <nav class="menu-rodape">
            <ul>
                <li>
                    <ul>
                        <li class="titulo">Conecta</li>
                        <li><a [routerLink]="['/quemsomos']">Quem somos?</a></li>
                        <li><a [routerLink]="['/troca-e-devolucao']">Troca e devoluções</a></li>
                        <li><a [routerLink]="['/perfil']">Minha conta</a></li>
                        <li><a [routerLink]="['/politica-de-privacidade']">Política de privacidade</a></li>
                    </ul>
                </li>
                <li *ngIf="configuracao">
                    <ul>
                        <li class="titulo">Localização</li>
                        <li>
                            <a href="#">
                                {{configuracao.endereco}}<br />
                                {{configuracao.bairro}} - {{configuracao.cidade}}/{{configuracao.uf}}<br />
                                CEP: {{configuracao.cep}}
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                Horário de Atendimento: <br />
                                {{configuracao.horarioAtendimento}}
                            </a>
                        </li>
                    </ul>
                </li>
                <li *ngIf="configuracao">
                    <ul>
                        <li class="titulo">Contato</li>
                        <li>
                            <a href="">
                                <span>
                                    <i class="far fa-envelope"></i>
                                    {{configuracao.email}}
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span *ngIf="configuracao.telefone">{{configuracao.telefone}}</span> <br />
                                <span *ngIf="configuracao.telefone2">{{configuracao.telefone2}}</span> <br />
                                <span *ngIf="configuracao.telefone3">{{configuracao.telefone3}}</span> <br />
                                <span *ngIf="configuracao.telefone4">{{configuracao.telefone4}}</span> <br />
                            </a>
                        </li>
                        <li>
                            <nav class="social">
                                <ul>
                                    <li>
                                        <a href="https://www.facebook.com/conectacell" target="_blank">
                                            <span><i class="fab fa-facebook-square"></i></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/conecta.cell" target="_blank">
                                            <span><i class="fab fa-instagram"></i></span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- <div class="newsletter">
            <span>Cadastre-se e receba nossas promoções!</span>
            <div class="campo">
                <i class="far fa-envelope"></i>
                <input type="text" placeholder="Digite seu e-mail"/>
                <button type="text">Enviar</button>
            </div>
        </div> -->
    </div>
</footer>
<footer class="inferior">
    <div class="container">
        <div>
            <div class="info">
                <img src="./res/imagens/formaspagamento.jpg" />
                <span>Conecta Distribuidora - Tudo para Celulares - 2020 - Todos os direitos reservados - CNPJ: 29.734.462/0001-14</span>
            </div>
            <div class="dfgpublicidade">
                <a href="http://dfgpublicidade.com" target="_blank">
                    <span>tecnologia</span>
                    <img src="./res/imagens/dfg-logo.jpg" />
                </a>
            </div>
        </div>
    </div>
</footer>