<footer class="central">
    <div class="container">
        <div class="colunas">
            <div class="coluna coluna-1">
                <div class="logo"></div>
                <p>
                    Desde 1982 no mercado de motocicletas! Referência nacional entre Concessionárias,
                    Oficinas, Boutique Especializada e Acessórios e Peças. Solidez e Credibilidade
                </p>
                <div class="redes-sociais">
                    <p><strong>siga nossas redes sociais</strong></p>
                    <ul>
                        <li><a href="https://www.facebook.com/SnakeMotor" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="https://www.instagram.com/snakemotor" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCUjy4V1s09yPtt11PSs9Zlw" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="https://www.tiktok.com/@snakemotor" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                    </ul>
                </div>
                <p class="copyright">Copyright © 2021. Todos os direitos reservados</p>
            </div>
            <div class="coluna coluna-2">
                <ul>
                    <li class="titulo"><strong>SNAKE MOTOR</strong></li>
                    <li *ngFor="let categoria of categorias">
                        <a [routerLink]="['/c', categoria[1].permalink]">
                            {{categoria[1].nome}}
                        </a>
                    </li>
                    <li><a [routerLink]="['/oficina-e-servicos']">Oficina/Serviços</a></li>
                    <li><a href="https://snake-motor.lojaintegrada.com.br/" target="_blank">Motos 0km e Usadas</a></li>
                    <li class="pt-5">
                        <a [routerLink]="['/sobre-nos']">Sobre a Snake Motor</a>
                    </li>
                    <li><a [routerLink]="['/troca-e-devolucao']">Trocas e Devoluções</a></li>
                    <li><a [routerLink]="['/perfil']">Minha Conta</a></li>
                    <li><a [routerLink]="['/politica-de-privacidade']">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="coluna coluna-3">
                <p><strong>CONTATO</strong></p>
                <p>
                    <i class="fas fa-map-marker-alt pe-2 pt-1"></i>
                    Rua João Barrocas Filho, 245 <br />
                    Vila N. S. Aparecida. Cordeirópolis/SP <br />
                    CEP: 13491-012
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5177.826394376324!2d-47.457978397092006!3d-22.476358477955035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf034ab225f14102!2sConcession%C3%A1ria%20Suzuki%20Snake%20Motos!5e0!3m2!1spt-BR!2sbr!4v1627832221149!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p>
                    <i class="fas fa-clock pe-2 pt-1"></i>
                    Horário de Atendimento: <br />
                    segunda a sexta das 08h30 às 18h00<br />
                    sábados 08h00 às 12h00.
                </p>
                <p class="tour-virtual">
                    <img src="/res/imagens/tour-360-logo-gray.png" class="me-2">
                    <a [routerLink]="['/tour-virtual-360']">
                        Tour Virtual
                    </a>
                </p>
                <p class="pt-1">
                    <i class="far fa-envelope pe-2 pt-1"></i>
                    atendimento@snakemotor.com.br
                </p>
                <p>
                    <a href="tel:1935569262">
                        <i class="fas fa-phone pe-2 pt-1"></i>
                        (19) 3556-9262
                    </a>
                </p>
                <p>
                    <a href="https://api.whatsapp.com/send?phone=5519996257084&text=Snake Motor. Seja bem vindo!&app_absent=0" target="_blank">
                        <i class="fab fa-whatsapp pe-2 pt-1"></i>
                        (19) 99625-7084
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<footer class="inferior">
    <div class="container">
        <div>
            <div class="info">
                <img src="./res/imagens/formas-pagto.jpg" class="pe-3" />
                <img src="./res/imagens/frete.jpg" class="pe-3" />
                <a href="https://transparencyreport.google.com/safe-browsing/search?url=http:%2F%2Fsnakemotor.com.br%2F&hl=pt_BR" target="_blank">
                    <img src="./res/imagens/google-site-seguro.png" />
                </a>
                <img class="site-seguro ps-3" src="./res/imagens/ssl-site-seguro.png" />
            </div>
            <div class="dfgpublicidade">
                <a href="http://dfgpublicidade.com" target="_blank">
                    <span>tecnologia</span>
                    <img src="./res/imagens/dfg-logo.jpg" />
                </a>
            </div>
        </div>
    </div>
</footer>

<!-- BOTAO FLUTUANTE WHATSAPP -->
<div id="botao-whatsapp">
    <a href="https://api.whatsapp.com/send?phone=5519996257084&text=Snake Motor. Seja bem vindo!&app_absent=0" target="_blank" class="icon-whats">
        <i class="fab fa-whatsapp"></i>
    </a>
</div>