<footer class="central">
    <div class="container">
        <div class="colunas">
            <div class="coluna coluna-1">
                <div class="logo"></div>
                <p>
                    Desde 1982 no mercado de motocicletas! Referência nacional entre Concessionárias,
                    Oficinas, Boutique Especializada e Acessórios e Peças. Solidez e Credibilidade
                </p>
                <div class="redes-sociais">
                    <p><strong>siga nossas redes sociais</strong></p>
                    <ul>
                        <li><a href="" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-youtube"></i></a></li>
                        <li><a href="" target="_blank"><i class="fab fa-tiktok"></i></a></li>
                    </ul>
                </div>
                <p class="copyright">Copyright © 2021. Todos os direitos reservados</p>
            </div>
            <div class="coluna coluna-2">
                <ul>
                    <li class="titulo"><strong>SNAKE MOTOR</strong></li>
                    <li><a href="">Capacetes</a></li>
                    <li><a href="">Vestuário</a></li>
                    <li><a href="">Big Trail</a></li>
                    <li><a href="">Street</a></li>
                    <li><a href="">Motos 0km e Usadas</a></li>
                    <li><a href="">Marcas</a></li>

                    <li class="pt-5"><a href="">Institucional</a></li>
                    <li><a href="">Trocas e Devoluções</a></li>
                    <li><a href="">Minha Conta</a></li>
                    <li><a href="">Política de Privacidade</a></li>
                </ul>
            </div>
            <div class="coluna coluna-3">
                <p><strong>CONTATO</strong></p>
                <p>
                    <i class="fas fa-map-marker-alt pe-2 pt-1"></i>
                    Rua João Barrocas Filho, 245 <br />
                    Vila N. S. Aparecida. Cordeirópolis/SP <br />
                    CEP: 13491-012
                </p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5177.826394376324!2d-47.457978397092006!3d-22.476358477955035!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xf034ab225f14102!2sConcession%C3%A1ria%20Suzuki%20Snake%20Motos!5e0!3m2!1spt-BR!2sbr!4v1627832221149!5m2!1spt-BR!2sbr" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                <p>
                    <i class="fas fa-clock pe-2 pt-1"></i>
                    Horário de Atendimento: <br />
                    segunda a sexta das 08hrs30 às 18hrs <br />
                    sábados 08hrs às 12hrs.
                </p>
                <p class="pt-4">
                    <i class="far fa-envelope pe-2 pt-1"></i>
                    contato@snakemotor.com.br
                </p>
                <p>
                    <a href="#">
                        <i class="fas fa-phone pe-2 pt-1"></i>
                        (19) 3556-9262
                    </a>
                </p>
                <p>
                    <a href="#">
                        <i class="fab fa-whatsapp pe-2 pt-1"></i>
                        (19) 3556-9262
                    </a>
                </p>
            </div>
        </div>
    </div>
</footer>
<footer class="inferior">
    <div class="container">
        <div>
            <div class="info">
                <img src="./res/imagens/formas-pagamento.jpg" />
            </div>
            <div class="dfgpublicidade">
                <a href="http://dfgpublicidade.com" target="_blank">
                    <span>tecnologia</span>
                    <img src="./res/imagens/dfg-logo.jpg" />
                </a>
            </div>
        </div>
    </div>
</footer>