// Core variables and mixins
@import "../../../../../node_modules/bootstrap/scss/functions";
@import "../../../../../node_modules/bootstrap/scss/variables";
@import "../../../../../node_modules/bootstrap/scss/mixins";

@media (max-width: 479px) {
    a.produto {
        & > div.imagem {
            height: 120px;
        }
        &>div.info{
            &>p{
                min-height: 100px;
            }
        }
        & > div.preco {
            padding-top: 0;
        }
    }
}