@import "../../../res/variables.scss";

:host ::ng-deep {
    @import "../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
    @import "../../../../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";
}

main {
    padding-top: 20px;
    z-index: 2;
}

section {
    padding: 20px 0;
    &:first-of-type {
        padding-top: 40px;
    }

    & > h3 {
        &.center {
            display: inline-block;
            width: 100%;
            text-align: center;
        }
    }

    & > div.container {
        & > h1 {
            display: flex;
            font-size: 28px;
            margin: 0;
            padding-bottom: 40px;
            justify-content: flex-start;
            width: 100%;

            & > strong {
                padding-right: 8px;
                &.left {
                    width: 100%;
                    justify-content: flex-start;
                }
            }

            & > a {
                justify-content: end;
                width: 200px;
                text-align: right;
                font-weight: bold;
                color: #000;
            }
        }

        & > div.produtos {
            ::ng-deep {
                div.owl-theme {
                    min-height: 475px;

                    div.owl-stage-outer {
                        cursor: pointer;
                        z-index: 100;
                    }
                    div.owl-nav {
                        position: absolute;
                        top: 50%;
                        width: 100%;
                        transform: translateY(-50%);
                        z-index: 200;

                        display: flex;
                        justify-content: space-between;
                        pointer-events: none;

                        & > div.owl-prev {
                            margin-left: -30px;
                        }

                        & > div.owl-next {
                            margin-right: -30px;

                            & > i {
                                padding-left: 3px;
                            }
                        }

                        & > div.owl-prev,
                        & > div.owl-next {
                            background-color: #d2d2d2;
                            pointer-events: all;
                            border-radius: 50%;
                            width: 45px;
                            height: 45px;
                            display: flex;
                            align-items: center;

                            @include transition(all, linear, 0.3s);

                            &:hover {
                                background-color: #cccccc66;
                            }

                            & > i.fas,
                            & > i.fab {
                                text-align: center;
                                width: 100%;
                                font-size: 30px;
                            }
                        }
                    }

                    div.owl-dots {
                        z-index: 101;
                        position: absolute;
                        bottom: 10px;
                        left: 50%;
                        transform: translateX(-50%);

                        & > div.owl-dot {
                            &:hover {
                                & > span {
                                    background-color: #d2d2d2;
                                }
                            }

                            &.active {
                                & > span {
                                    background-color: #fe0000;
                                }
                            }

                            & > span {
                                width: 13px;
                                height: 13px;
                                border: 1px solid #f3f3f3;
                                background-color: #cccccc44;
                            }
                        }
                    }
                }
            }
        }

        & > div.banners {
            margin-top: 25px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            & > a.banner {
                width: 49.37%;
                height: 265px;
                background-size: 100%;
                background-position: center;
                background-repeat: no-repeat;

                &.full {
                    width: 100%;
                }
            }
        }
    }

    & > div.marcas {
        margin: 40px 0;
        ::ng-deep {
            div.owl-theme {
                min-height: 108px;
                a.marca {
                    height: 108px;
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    display: inherit;
                }

                div.owl-stage-outer {
                    cursor: pointer;
                    z-index: 100;
                }
                div.owl-nav {
                    position: absolute;
                    top: 50%;
                    width: 100%;
                    transform: translateY(-50%);
                    z-index: 200;

                    display: none;
                    // display: flex;
                    // justify-content: space-between;
                    // pointer-events: none;

                    & > div.owl-prev {
                    }

                    & > div.owl-next {
                    }

                    & > div.owl-prev,
                    & > div.owl-next {
                        background-color: #d2d2d2;
                        pointer-events: all;
                        border-radius: 50%;
                        width: 45px;
                        height: 45px;
                        display: flex;
                        align-items: center;

                        @include transition(all, linear, 0.3s);

                        &:hover {
                            background-color: #cccccc66;
                        }

                        & > i.fas,
                        & > i.fab {
                            text-align: center;
                            width: 100%;
                            font-size: 30px;
                        }
                    }
                }

                div.owl-dots {
                    z-index: 101;
                    position: absolute;
                    bottom: 10px;
                    left: 50%;
                    transform: translateX(-50%);

                    & > div.owl-dot {
                        &:hover {
                            & > span {
                                background-color: #d2d2d2;
                            }
                        }

                        &.active {
                            & > span {
                                background-color: #fe0000;
                            }
                        }

                        & > span {
                            width: 13px;
                            height: 13px;
                            border: 1px solid #f3f3f3;
                            background-color: #cccccc44;
                        }
                    }
                }
            }
        }
    }
}

@import "responsive/home-xl.scss";
@import "responsive/home-lg.scss";
@import "responsive/home-md.scss";
@import "responsive/home-sm.scss";
@import "responsive/home-xss.scss";
@import "responsive/home-print.scss";
