<main>
    <div class="container">
        <app-banner [items]="banners" class="d-xs-block d-sm-block d-md-block d-lg-block"></app-banner>
    </div>
</main>
<section>
    <div class="container">
        <h1>
            <strong>Destaques</strong>
            de nossa loja virtual
        </h1>
        <div class="produtos">
            <owl-carousel-o [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let number of [0,1,2,4]">
                    <app-produto-componente [item]="number"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="banners">
            <a class="banner" href="#" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/banner-secundario-1.jpg)'}"></a>
            <a class="banner" href="#" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/banner-secundario-2.jpg)'}"></a>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <h1>
            <strong class="left">Escapamentos</strong>
            <a href="#" class="right">veja mais +</a>
        </h1>
        <div class="produtos">
            <owl-carousel-o [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let number of [0,1,2,4]">
                    <app-produto-componente [item]="number"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>
        <div class="banners">
            <a class="banner full" href="#" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/banner-terciario.jpg)'}"></a>
        </div>
    </div>
</section>

<section>
    <div class="container">
        <h1>
            <strong class="left">Equipe-se com estilo</strong>
            <a href="#" class="right">veja mais +</a>
        </h1>
        <div class="produtos">
            <owl-carousel-o [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let number of [0,1,2,4]">
                    <app-produto-componente [item]="number"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section>
    <h3 class="center pt-3 pb-3"><strong>Compre por marca</strong></h3>
    <div class="marcas">
        <owl-carousel-o [options]="optionsRotativoMarcas">
            <ng-template carouselSlide *ngFor="let number of [0,1,2,4,5]">
                <a class="marca" href="#" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/marca-1.png)'}"></a>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>