<main>
    <div class="container">
        <!-- BANNER PRINCIPAL -->
        <div class="loading-banner skeleton-box" *ngIf="!banners[tipoBannerIdPrincipal] || (banners[tipoBannerIdPrincipal] && banners[tipoBannerIdPrincipal].length === 0)"></div>
        <app-banner [items]="banners[tipoBannerIdPrincipal]" class="d-xs-block d-sm-block d-md-block d-lg-block"></app-banner>
    </div>
</main>

<section>
    <div class="container">
        <!-- PRODUTOS EM DESTQUE -->
        <h1 *ngIf="produtosDestaque && produtosDestaque.length > 0">
            <strong>Destaques</strong>
            de nossa loja virtual
        </h1>
        <div class="produtos" *ngIf="produtosDestaque && produtosDestaque.length > 0">
            <owl-carousel-o *ngIf="optionsRotativoProdutos && produtosDestaque" [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let produto of produtosDestaque">
                    <app-produto-componente [item]="produto"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>

        <!-- BANNER DE SEGUNDA ROLAGEM -->
        <div class="banners">
            <a *ngIf="banners[tipoBannerIdSegundaRolagem] && banners[tipoBannerIdSegundaRolagem][0]" class="banner" href="{{banners[tipoBannerIdSegundaRolagem][0].url ? banners[tipoBannerIdSegundaRolagem][0].url : '#'}}" [ngStyle]="{'background-image': 'url(' + banners[tipoBannerIdSegundaRolagem][0].imagem.original + ')'}"></a>
            <a *ngIf="banners[tipoBannerIdSegundaRolagem] && banners[tipoBannerIdSegundaRolagem][1]" class="banner" href="{{banners[tipoBannerIdSegundaRolagem][1].url ? banners[tipoBannerIdSegundaRolagem][1].url : '#'}}" [ngStyle]="{'background-image': 'url(' + banners[tipoBannerIdSegundaRolagem][1].imagem.original + ')'}"></a>
        </div>
    </div>
</section>

<!-- PRODUTOS COMO DESTAQUE EM SEGUNDA ROLAGEM (CATEGORIA EM DESTAQUE)-->
<section *ngIf="categoriaDestaque && produtosPorCategoriaDestaque && produtosPorCategoriaDestaque.length > 0">
    <div class="container">
        <h1>
            <strong class="left">{{categoriaDestaque.nome}}</strong>
            <a [routerLink]="[categoriaDestaque.permalink]" routerLinkActive="router-link-active" class="right">veja mais +</a>
        </h1>
        <div class="produtos">
            <owl-carousel-o *ngIf="optionsRotativoProdutos && produtosPorCategoriaDestaque" [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let produto of produtosPorCategoriaDestaque">
                    <app-produto-componente [item]="produto"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>

<!-- BANNER TERCEIRA ROLAGEM  COM LISTA DE PRODUTOS RELACIONADOS -->
<section *ngIf="banners[tipoBannerIdTerceiraRolagem] && banners[tipoBannerIdTerceiraRolagem][0] && banners[tipoBannerIdTerceiraRolagem][0].produtos">
    <div class="container">
        <div class="banners mt-0">
            <a *ngIf="banners[tipoBannerIdTerceiraRolagem] && banners[tipoBannerIdTerceiraRolagem][0]" class="banner full" href="#" [ngStyle]="{'background-image': 'url(' + (!isMobile ? banners[tipoBannerIdTerceiraRolagem][0].imagem.original : banners[tipoBannerIdTerceiraRolagem][0].imagemMobile.original) + ')'}"></a>
        </div>
        <div class="produtos">
            <owl-carousel-o *ngIf="optionsRotativoProdutos && produtosPorIdsProdutoPrincipal" [options]="optionsRotativoProdutos">
                <ng-template carouselSlide *ngFor="let produto of produtosPorIdsProdutoPrincipal">
                    <app-produto-componente [item]="produto"></app-produto-componente>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</section>
<section>
    <h3 class="center pt-3"><strong>Compre por marca</strong></h3>
    <div class="marcas">
        <owl-carousel-o *ngIf="optionsRotativoMarcas && marcas" [options]="optionsRotativoMarcas">
            <ng-template carouselSlide *ngFor="let marca of marcas">
                <a class="marca" href="#" [ngStyle]="{'background-image': marca.logo ? 'url(' + marca.logo.original + ')' : 'url(res/images/sem-capa-thumb.png)'}"></a>
            </ng-template>
        </owl-carousel-o>
    </div>
</section>
<footer class="newsletter">
    <div class="container">
        <div class="cadastro">
            <span class="titulo">
                <strong>Cadastre-se</strong>
                e receba nossas ofertas!
            </span>
            <div class="campo">
                <form [formGroup]="formLead" (submit)="cadastrarLead()" *ngIf="!resultLead || (resultLead && resultLead.status !== 'success')">
                    <input type="text" placeholder="Whatsapp com DDD" formControlName="celular" mask="(00) 00000-0000" />
                    <button type="submit" [disabled]="formLead.status === 'INVALID' || loadingServiceLead">
                        <span class="loading" [hidden]="!loadingServiceLead"><img src="/res/imagens/spinner-white.svg" /></span>
                        <span *ngIf="!loadingServiceLead">Enviar</span>
                    </button>
                </form>
                <span *ngIf="!resultLead || (resultLead && resultLead.status !== 'success')">Ao enviar, declaro que aceito receber informações sobre ofertas em meu whatsapp</span>
                <span class="result {{resultLead.status}}" *ngIf="resultLead">{{resultLead.content.message}}</span>
            </div>
        </div>
    </div>
</footer>