<main>
    <div class="container">
        <!-- BANNER PRINCIPAL -->
        <div class="loading-banner skeleton-box" *ngIf="!banners[tipoBannerIdPrincipal] || (banners[tipoBannerIdPrincipal] && banners[tipoBannerIdPrincipal].length === 0)"></div>
        <div class="banner">
            <owl-carousel-o [options]="optionsRotativoBanners">
                <ng-template carouselSlide *ngFor="let banner of banners[tipoBannerIdPrincipal]">
                    <a class="banner-item" href="{{banner.url ? banner.url : '#'}}">
                        <img *ngIf="!isMobile" src="{{banner.imagem.original}}?timestamp={{timestamp}}" [alt]="banner.titulo">
                        <img *ngIf="isMobile && banner.imagemMobile" src="{{banner.imagemMobile.original}}?timestamp={{timestamp}}" [alt]="'Título do banner'">
                    </a>
                </ng-template>
            </owl-carousel-o>
        </div>
    </div>
</main>

<section>
    <div class="container">
        <!-- PRODUTOS EM DESTQUE -->
        <h1 *ngIf="produtosDestaque && produtosDestaque.length > 0">
            <strong>Destaques</strong>
            de nossa loja virtual
        </h1>
        <!-- loading -->
        <div class="produtos">
            <div class="loading-produtos" *ngIf="loadingServiceProdutosDestaque">
                <div class="skeleton-box produto" *ngFor="let item of [1,2,3,4]"></div>
            </div>
            <ng-container *ngIf="optionsRotativoProdutos && produtosDestaque">
                <owl-carousel-o [options]="optionsRotativoProdutos">
                    <ng-template carouselSlide *ngFor="let produto of produtosDestaque">
                        <app-produto-componente [item]="produto"></app-produto-componente>
                    </ng-template>
                </owl-carousel-o>
            </ng-container>
        </div>
    </div>
</section>

<!-- PRODUTOS COMPRAS POR WHATSAPP -->
<section *ngIf="produtosPorCategoriaWhatsapp.length > 0">
    <div class="container">
        <h1>
            <strong class="left">Compra pelo whatsapp</strong>
            <a [routerLink]="['/produtos']" [queryParams]="{q: 'whatsapp'}" routerLinkActive="router-link-active" class="right">veja mais +</a>
        </h1>
        <div class="produtos">
            <div class="loading-produtos" *ngIf="loadingServiceProdutosPorCategoriaWhatsapp">
                <div class="skeleton-box produto" *ngFor="let item of [1,2,3,4]"></div>
            </div>
            <ng-container *ngIf="optionsRotativoProdutos && produtosPorCategoriaWhatsapp">
                <owl-carousel-o [options]="optionsRotativoProdutos">
                    <ng-template carouselSlide *ngFor="let produto of produtosPorCategoriaWhatsapp">
                        <app-produto-componente [item]="produto"></app-produto-componente>
                    </ng-template>
                </owl-carousel-o>
            </ng-container>
        </div>
    </div>
</section>

<!-- BANNER DE SEGUNDA ROLAGEM -->
<section>
    <div class="container">
        <div class="banners half" *ngIf="banners[tipoBannerIdSegundaRolagem]">
            <a *ngFor="let banner of banners[tipoBannerIdSegundaRolagem].slice(0,4)" class="banner" href="{{banner.url ? banner.url : '#'}}" [ngStyle]="{'background-image': 'url(' + banner.imagem.original + '?timestamp='+ timestamp +')'}"></a>
        </div>
    </div>
</section>

<!-- PRODUTOS COMO DESTAQUE EM SEGUNDA ROLAGEM (CATEGORIA EM DESTAQUE)-->
<section *ngIf="categoriaDestaque && produtosPorCategoriaDestaque && produtosPorCategoriaDestaque.length > 0">
    <div class="container">
        <h1>
            <strong class="left">{{categoriaDestaque.nome}}</strong>
            <a [routerLink]="['/c', categoriaDestaque.permalink]" routerLinkActive="router-link-active" class="right">veja mais +</a>
        </h1>
        <div class="produtos">
            <div class="loading-produtos" *ngIf="loadingServiceProdutosPorCategoria">
                <div class="skeleton-box produto" *ngFor="let item of [1,2,3,4]"></div>
            </div>
            <ng-container *ngIf="optionsRotativoProdutos && produtosPorCategoriaDestaque">
                <owl-carousel-o [options]="optionsRotativoProdutos">
                    <ng-template carouselSlide *ngFor="let produto of produtosPorCategoriaDestaque">
                        <app-produto-componente [item]="produto"></app-produto-componente>
                    </ng-template>
                </owl-carousel-o>
            </ng-container>
        </div>
    </div>
</section>

<!-- BANNER TERCEIRA ROLAGEM  COM LISTA DE PRODUTOS RELACIONADOS -->
<section *ngIf="banners[tipoBannerIdTerceiraRolagem] && banners[tipoBannerIdTerceiraRolagem]">
    <div class="container" *ngFor="let banner of banners[tipoBannerIdTerceiraRolagem]; let i = index">
        <div class="banners" [ngClass]="{'mt-0': i === 0, 'mt-5': i > 0}">
            <a class="banner" href="{{banner.url ? banner.url : '#'}}" [ngStyle]="{'background-image': 'url(' + (isMobile ? banner.imagemMobile.original : banner.imagem.original) + '?timestamp=' + timestamp +')'}"></a>
        </div>
        <div class="produtos">
            <div class="loading-produtos" *ngIf="loadingServiceProdutosPorCategoria">
                <div class="skeleton-box produto" *ngFor="let item of [1,2,3,4]"></div>
            </div>
            <ng-container *ngIf="banner.produtos">
                <owl-carousel-o *ngIf="optionsRotativoProdutos" [options]="optionsRotativoProdutos">
                    <ng-template carouselSlide *ngFor="let produto of banner.produtos">
                        <app-produto-componente [item]="produto"></app-produto-componente>
                    </ng-template>
                </owl-carousel-o>
            </ng-container>

            <!-- <ng-container *ngIf="isMobile">
                <app-produto-componente [item]="produto" *ngFor="let produto of banner.produtos"></app-produto-componente>
            </ng-container> -->
        </div>
    </div>
</section>

<section>
    <h3 class="center pt-3"><strong>Compre por marca</strong></h3>
    <div class="marcas">
        <ng-container *ngIf="optionsRotativoMarcas && marcas">
            <owl-carousel-o [options]="optionsRotativoMarcas">
                <ng-template carouselSlide *ngFor="let marca of marcas">
                    <a class="marca" [routerLink]="['/m', marca.permalink]" [ngStyle]="{'background-image': marca.logo ? 'url(' + marca.logo.original + ')' : 'url(/res/imagens/sem-imagem.png)'}"></a>
                </ng-template>
            </owl-carousel-o>
        </ng-container>
    </div>
</section>
<footer class="newsletter">
    <div class="container">
        <div class="cadastro">
            <span class="titulo">
                <strong>Cadastre-se</strong>
                e receba nossas ofertas!
            </span>
            <div class="campo">
                <form [formGroup]="formLead" (submit)="cadastrarLead()" *ngIf="!resultLead || (resultLead && resultLead.status !== 'success')">
                    <input type="text" placeholder="Seu nome" formControlName="nome" />
                    <input type="text" placeholder="WhatsApp com DDD" formControlName="celular" mask="(00) 00000-0000" />
                    <button type="submit" [disabled]="formLead.status === 'INVALID' || loadingServiceLead">
                        <span class="loading" [hidden]="!loadingServiceLead"><img src="/res/imagens/spinner-white.svg" /></span>
                        <span *ngIf="!loadingServiceLead">Enviar</span>
                    </button>
                </form>
                <span *ngIf="!resultLead || (resultLead && resultLead.status !== 'success')">Ao enviar, declaro que aceito receber informações sobre ofertas em meu whatsapp</span>
                <span class="result {{resultLead.status}}" *ngIf="resultLead">{{resultLead.content.message}}</span>
            </div>
        </div>
    </div>
</footer>