<nav class="breadcrumb">
    <div class="container">
        <ul>
            <li><a [routerLink]="['/']">Home</a></li>
            <li class="separator">/</li>
            <li><a href="#">{{title}}</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="carrinho">
            <!-- loading -->
            <div class="loading-produto-view" *ngIf="!carrinho">
                <div class="imagem">
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box quadrado full line"></div>
                </div>
                <div class="info">
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box large line"></div>
                    <div class="skeleton-box small line mt-4 me-2"></div>
                    <div class="skeleton-box small line"></div>
                    <div class="skeleton-box large line"></div>
                </div>
            </div>
            <div class="itens" *ngIf="carrinho && carrinho.produtos">
                <h3>{{title}}</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <th scope="col">Produto</th>
                            <th scope="col">Quantidade</th>
                            <th scope="col">Preço</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of carrinho.produtos; let i = index">
                                <ng-container *ngIf="item">
                                    <td class="produto">
                                        <div class="produto">
                                            <div class="imagem" [ngStyle]="{'background-image': 'url(' + item.imagem + ')'}"></div>
                                            <p>
                                                <a [routerLink]="[urlProduto, item.produto.permalink]" [queryParams]="{op: item.id}" target="_blank">
                                                    {{item.produto.nome}}
                                                    <ng-container *ngIf="item.genero">{{item.genero.nome}} </ng-container>
                                                    <ng-container *ngIf="item.cor">{{item.cor.nome}} </ng-container>
                                                    <ng-container *ngIf="item.tipo_de_pintura">{{item.tipo_de_pintura.nome}}</ng-container>
                                                </a> <br />
                                                <ng-container *ngIf="item.cor"><strong>cor</strong>: {{item.cor.nome}} <br /></ng-container>
                                                <ng-container *ngIf="item.tamanhoOpcao"><strong>tamanho</strong>: {{item.tamanhoOpcao.nome}} <br /></ng-container>
                                                <ng-container *ngIf="item.caracteristica"><strong>característica</strong>: {{item.caracteristica.nome}} <br /></ng-container>
                                                <ng-container *ngIf="item.material"><strong>material</strong>: {{item.material.nome}} </ng-container>
                                                <ng-container *ngIf="item.viseira"><strong>viseira</strong>: {{item.viseira.nome === 'Sim' ? ' Com viseira ' : ' Sem viseira '}} </ng-container>
                                            </p>
                                        </div>
                                    </td>
                                    <td class="qtde">
                                        <span class="text-danger text-center" *ngIf="!item.disponivel">INDISPONÍVEL</span>
                                        <div class="qtde" *ngIf="item.disponivel">
                                            <button type="button" class="btn btn-start" (click)="alterarQtde('diminuir', i)" [disabled]="item.qtde === 1">-</button>
                                            <input class="qtde" type="text" [value]="item.qtde" readonly />
                                            <button type="button" class="btn btn-end" (click)="alterarQtde('aumentar', i)" [disabled]="item.qtde === item.estoqueAtual">+</button>
                                        </div>
                                        <div class="remover">
                                            <button type="button" class="btn" (click)="removerCarrinho(item)">remover</button>
                                        </div>
                                    </td>
                                    <td class="valor">
                                        <div class="preco">
                                            <!-- PRECO VALOR PADRÃO RISCADO, POIS EXISTE VALOR PROMOCIONAL -->
                                            <p class="valor-normal" *ngIf="item.precoPromocional">{{item.precoVenda}}</p>

                                            <!-- PRECO VALOR PROMOCIONAL -->
                                            <p class="valor-vigente" *ngIf="item.precoPromocional">{{item.precoPromocional}}</p>

                                            <!-- PRECO VALOR PADRÃO -->
                                            <p class="valor-vigente" *ngIf="!item.precoPromocional">{{item.precoVenda}}</p>
                                        </div>
                                    </td>
                                </ng-container>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="info" *ngIf="carrinho && carrinho.produtos">
                <h3>Resumo</h3>
                <p class="info-produto">
                    <span>{{carrinho.qtde}} produto{{carrinho.qtde > 1 ? 's' : ''}}</span>
                    <span>{{carrinho.valor}}</span>
                </p>
                <p class="frete">
                    <span><strong>Frete</strong></span>
                    <span class="gratis" *ngIf="formaEntrega && !formaEntrega.valor">Grátis</span>
                    <span *ngIf="formaEntrega && formaEntrega.valor">{{formaEntrega.valor}}</span>
                    <span *ngIf="!formaEntrega">-</span>
                </p>
                <p class="total">
                    <span><strong>Total</strong></span>
                    <span>
                        <strong>{{carrinho.valorTotal}}</strong> <br />
                        <span *ngIf="carrinho.valorTotalParcelado">em até {{carrinho.valorTotalParcelado}} ou</span>
                    </span>
                </p>
                <p class="valor-avista" *ngIf="carrinho.valorAVista"><strong>{{carrinho.valorAVista}}</strong></p>
                <div class="botoes">
                    <button
                      (click)="finalizarCompra()"
                      type="button"
                      class="custom buy"
                      [disabled]="loadingServiceFrete"
                    >
                      <span class="loading" *ngIf="loadingServiceFrete"
                        ><img src="/res/imagens/spinner-white.svg"
                      /></span>
                      Concluir pedido
                    </button>
                    <a class="link" [routerLink]="['/']">escolher mais produtos</a>
                    <a class="link" [routerLink]="['/carrinho']"
                      >alterar item do carrinho</a
                    >
                  </div>
            </div>
            <div class="carrinho-vazio" *ngIf="carrinho && (!carrinho.produtos || (carrinho.produtos && carrinho.produtos.length === 0))">
                <span class="icone">
                    <i class="fas fa-shopping-cart"></i>
                </span>
                <h3>Carrinho Vazio</h3>
                <p>Continue buscando os produtos desejados</p>
                <a [routerLink]="['/']">
                    <button class="info btn btn-danger btn-lg mt-4 ps-5 pe-5">
                        <span>Página inicial</span>
                    </button>
                </a>
            </div>
        </div>
    </div>
</section>