<nav class="breadcrumb">
  <div class="container">
    <ul>
      <li><a [routerLink]="['/']">Home</a></li>
      <li class="separator">/</li>
      <li><a [routerLink]="['/carrinho']">Carrinho</a></li>
      <li class="separator">/</li>
      <li>
        <a>{{ title }}</a>
      </li>
    </ul>
  </div>
</nav>
<section>
  <div class="container">
    <div class="carrinho">
      <!-- loading -->
      <div class="loading-produto-view" *ngIf="!carrinho">
        <div class="imagem">
          <div class="skeleton-box small line"></div>
          <div class="skeleton-box quadrado full line"></div>
        </div>
        <div class="info">
          <div class="skeleton-box large line"></div>
          <div class="skeleton-box small line"></div>
          <div class="skeleton-box large line"></div>
          <div class="skeleton-box large line"></div>
          <div class="skeleton-box large line"></div>
          <div class="skeleton-box small line mt-4 me-2"></div>
          <div class="skeleton-box small line"></div>
          <div class="skeleton-box large line"></div>
        </div>
      </div>
      <div class="itens" *ngIf="carrinho && carrinho.produtos">
        <h3>{{ title }}</h3>
        <p>Selecione o local para entrega</p>
        <form [formGroup]="formFrete">
          <!-- SELEÇÃO DE ENDEREÇO -->
          <div class="enderecos">
            <div
              class="endereco theme-first-radios selected theme-second-border-color"
              *ngFor="let endereco of enderecos"
            >
              <div class="input-radio">
                <input
                  type="radio"
                  formControlName="endereco"
                  [value]="endereco.id"
                />
                <label></label>
              </div>
              <div class="text-content">
                <div class="tipo" *ngIf="endereco.principal">
                  <i class="fas fa-star"></i>
                  <p>Principal</p>
                </div>
                <div class="text">
                  {{ endereco.logradouro }},
                  {{ endereco.numero ? endereco.numero : "S/Nº"
                  }}{{ endereco.complemento ? ", " : ""
                  }}{{ endereco.complemento }}<br />
                  {{ endereco.bairro }} - {{ endereco.cidade.nome }}/{{
                    endereco.cidade.estado.sigla
                  }}<br />
                  CEP {{ endereco.cep }}
                </div>
              </div>
            </div>
          </div>

          <div class="novo-endereco">
            <button
              type="button"
              class="btn btn-outline-primary"
              data-bs-toggle="modal"
              data-bs-target="#modalEnderecoCheckout"
            >
              Adicionar novo endereço
            </button>
          </div>

          <!-- SELEÇÃO DE FRETE -->
          <div class="frete">
            <!-- loading-->
            <div
              class="loading-filtro"
              *ngIf="!carrinho.formasEntrega && formFrete.value.endereco"
            >
              <div class="loading">
                <div class="skeleton-box line"></div>
              </div>
              <div class="loading" *ngFor="let item of [1, 2, 3]">
                <div class="skeleton-box small me-2"></div>
                <div class="skeleton-box large"></div>
              </div>
            </div>
            <ng-container
              *ngIf="carrinho.formasEntrega && formFrete.value.endereco"
            >
              <h3>Formas de entrega</h3>
              <div class="frete-tipos">
                <!-- LISTA DE FORMAS DE ENTREGA -->
                <div
                  class="form-group form-check mb-1"
                  *ngFor="let formaEntrega of carrinho.formasEntrega"
                >
                  <label>
                    <input
                      type="radio"
                      class="form-check-input"
                      name="formaEntrega"
                      formControlName="formaEntrega"
                      [value]="formaEntrega.permalink"
                    />
                    <span>
                      {{ formaEntrega.nome }}:
                      <span [ngClass]="{ gratis: !formaEntrega.valor }">
                        {{ formaEntrega.valor ? formaEntrega.valor : "Grátis" }}
                      </span>
                      <ng-container *ngIf="formaEntrega.prazoEntrega"
                        >( {{ formaEntrega.prazoEntrega }} )</ng-container
                      >
                    </span>
                  </label>
                </div>

                <!-- FORMA DE ENTREGA SELECIONADA -->
                <div
                  class="form-group form-check mb-1"
                  *ngIf="carrinho.formaEntrega"
                >
                  <label>
                    <span>
                      {{ carrinho.formaEntrega.nome }}:
                      <span
                        [ngClass]="{ gratis: !carrinho.formaEntrega.valor }"
                      >
                        {{
                          carrinho.formaEntrega.valor
                            ? carrinho.formaEntrega.valor
                            : "Grátis"
                        }}
                      </span>
                      <ng-container *ngIf="carrinho.formaEntrega.prazoEntrega"
                        >({{
                          carrinho.formaEntrega.prazoEntrega
                        }})</ng-container
                      >
                    </span>
                  </label>
                  <small>
                    <strong>selecionado</strong><br />
                    <span (click)="alterarFrete()">alterar</span>
                  </small>
                </div>
              </div>
            </ng-container>
          </div>
        </form>
      </div>
      <div class="info" *ngIf="carrinho && carrinho.produtos">
        <h3>Resumo</h3>
        <p class="info-produto">
          <span
            >{{ carrinho.qtde }} produto{{ carrinho.qtde > 1 ? "s" : "" }}</span
          >
          <span>{{ carrinho.valor }}</span>
        </p>
        <p class="frete">
          <span><strong>Frete</strong></span>
          <span class="gratis" *ngIf="formaEntrega && !formaEntrega.valor"
            >Grátis</span
          >
          <span *ngIf="formaEntrega && formaEntrega.valor">{{
            formaEntrega.valor
          }}</span>
          <span *ngIf="!formaEntrega">-</span>
        </p>
        <p class="total">
          <span><strong>Total</strong></span>
          <span>
            <strong>{{ carrinho.valorTotal }}</strong> <br />
            <span *ngIf="carrinho.valorTotalParcelado"
              >em até {{ carrinho.valorTotalParcelado }} ou</span
            >
          </span>
        </p>
        <p class="valor-avista text-success" *ngIf="carrinho.valorAVista">
          <strong>{{ carrinho.valorAVista }}</strong>
        </p>
        <div class="botoes">
          <button
            (click)="finalizarCompra()"
            type="button"
            class="custom buy"
            [disabled]="
              formFrete.status === 'INVALID' || loadingServiceCarrinho
            "
          >
            <span class="loading" *ngIf="loadingServiceCarrinho || loadingService"
              ><img src="/res/imagens/spinner-white.svg"
            /></span>
            Concluir pedido
          </button>
          <a class="link" [routerLink]="['/']">escolher mais produtos</a>
          <a class="link" [routerLink]="['/carrinho']"
            >alterar item do carrinho</a
          >
        </div>
      </div>
      <div
        class="carrinho-vazio"
        *ngIf="
          carrinho &&
          (!carrinho.produtos ||
            (carrinho.produtos && carrinho.produtos.length === 0))
        "
      >
        <span class="icone">
          <i class="fas fa-shopping-cart"></i>
        </span>
        <h3>Carrinho Vazio</h3>
        <p>Continue buscando os produtos desejados</p>
        <a [routerLink]="['/']">
          <button class="info btn btn-primary btn-lg mt-4 ps-5 pe-5">
            <span>Página inicial</span>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>

<!-- MODAL NOVO ENDEREÇO -->
<div
  class="modal fade"
  id="modalEnderecoCheckout"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">
          Novo endereço de entrega
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <form [formGroup]="formEnderecoCreate" (submit)="inserirEndereco()">
        <div class="modal-body">
          <p *ngIf="!responseEnderecoCreate">
            Preencha os dados abaixo para inserir um novo endereço de entrega
          </p>
          <app-alert-message
            *ngIf="responseEnderecoCreate"
            [result]="responseEnderecoCreate"
          ></app-alert-message>

          <div class="form-floating col-xs-12 col-sm-12 col-lg-6 mb-2">
            <input
              type="text"
              formControlName="cep"
              mask="00.000-000"
              class="form-control"
              placeholder="CEP"
              required
            />
            <label>CEP</label>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.cep.touched &&
                formEnderecoCreate.controls.cep.hasError('required')
              "
              >Preencha o CEP</small
            >
          </div>
          <div class="form-floating col-xs-12 col-sm-12 col-lg-12 mb-2">
            <input
              type="text"
              formControlName="logradouro"
              class="form-control"
              placeholder="Endereço"
              required
            />
            <label>Endereço</label>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.logradouro.touched &&
                formEnderecoCreate.controls.logradouro.hasError('required')
              "
              >Preencha o endereço</small
            >
          </div>
          <div class="form-floating col-xs-12 col-sm-12 col-lg-4 mb-2">
            <input
              type="text"
              formControlName="numero"
              class="form-control"
              placeholder="Número"
              required
            />
            <label>Número</label>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.numero.touched &&
                formEnderecoCreate.controls.numero.hasError('required')
              "
              >Preencha o número</small
            >
          </div>
          <div class="form-floating col-xs-12 col-sm-12 col-lg-12 mb-2">
            <input
              type="text"
              formControlName="bairro"
              class="form-control"
              placeholder="Bairro"
              required
            />
            <label>Bairro</label>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.bairro.touched &&
                formEnderecoCreate.controls.bairro.hasError('required')
              "
              >Preencha o bairro</small
            >
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 mb-2">
            <ng-select
              class="large"
              formControlName="uf"
              placeholder="Selecione o Estado"
              [loading]="loadingServiceEstado"
              (change)="listarCidades()"
              notFoundText="Nenhum item encontrado"
              required
            >
              <ng-option [value]="estado.id" *ngFor="let estado of estados">{{
                estado.nome
              }}</ng-option>
            </ng-select>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.uf.touched &&
                formEnderecoCreate.controls.uf.hasError('required')
              "
              >Selecione o estado</small
            >
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-6 mb-2">
            <ng-select
              class="large"
              formControlName="cidade"
              placeholder="Selecione a Cidade"
              [loading]="loadingServiceCidade"
              notFoundText="Nenhum item encontrado"
              required
            >
              <ng-option [value]="cidade.id" *ngFor="let cidade of cidades">{{
                cidade.nome
              }}</ng-option>
            </ng-select>
            <small
              class="form-text text-danger"
              *ngIf="
                formEnderecoCreate.controls.cidade.touched &&
                formEnderecoCreate.controls.cidade.hasError('required')
              "
              >Selecione a cidade</small
            >
          </div>
          <div class="form-floating col-xs-12 col-sm-12 col-lg-12 mb-3">
            <input
              type="text"
              formControlName="complemento"
              class="form-control"
              placeholder="Complemento"
            />
            <label>Complemento</label>
          </div>
          <div class="col-xs-12 col-sm-12 col-lg-12 mb-2">
            <div class="input-check">
              <input
                type="checkbox"
                formControlName="principal"
                [value]="true"
              />
              <label class="ps-2">Tornar endereço principal</label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="submit"
            class="btn btn-success btn-block"
            [disabled]="
              formEnderecoCreate.status === 'INVALID' ||
              loadingServiceEnderecoCreate
            "
          >
            <span *ngIf="!loadingServiceEnderecoCreate">Inserir</span>
            <span *ngIf="loadingServiceEnderecoCreate" class="loading">
              <img src="/res/imagens/spinner-white.svg" />
            </span>
          </button>
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            Fechar
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
