<nav class="breadcrumb">
    <div class="container">
        <ul>
            <li><a href="#">Home</a></li>
            <li class="separator">/</li>
            <li><a href="#">Produtos</a></li>
            <li class="separator">/</li>
            <li><a href="#">Capacetes</a></li>
            <li class="separator">/</li>
            <li><a class="active" href="#">Capacete Agv</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container">
        <div class="produto">
            <div class="imagem">
                <doe-gallery [items]="images" thumbsOrientation="left" [thumbsAutoScroll]="true"></doe-gallery>
            </div>
            <div class="info">
                <div class="descricao">
                    <h3>CAPACETE AGV K-1 EDGE 46 58</h3>
                    <span class="avaliacao">
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <p>Projeto inovador, design ousado, grafismos top de linha.</p>
                </div>
                <div class="preco">
                    <p class="valor-normal">R$ 687,99</p>
                    <p class="valor-vigente">
                        <span>R$ 522,41</span>
                        <span class="tag desconto">-8%</span>
                    </p>
                    <p class="valor-parcelado">10x R$ 54,99 no cartão de crédito</p>
                </div>
                <div class="variacoes">
                    <div class="tamanho">
                        <label>Tamanho</label>
                        <ng-select [multiple]="false" placeholder="Selecione">
                            <ng-option [value]="''">P</ng-option>
                            <ng-option [value]="''">M</ng-option>
                            <ng-option [value]="''">G</ng-option>
                        </ng-select>
                    </div>
                    <div class="cor">
                        <label>Cor</label>
                        <div class="itens">
                            <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                            <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                            <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                            <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                        </div>
                    </div>
                </div>
                <button type="button" class="custom buy">
                    <i class="fas fa-shopping-cart"></i>
                    Comprar
                </button>
            </div>
        </div>
        <div class="produto-extra-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#descricao" type="button" role="tab" aria-controls="descricao" aria-selected="true">Descrição</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#caracteristicas" type="button" role="tab" aria-controls="caracteristicas" aria-selected="false">Características</button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="descricao" role="tabpanel" aria-labelledby="home-tab">
                    <p>Projeto inovador, design ousado, grafismos top de linha.</p>
                </div>
                <div class="tab-pane" id="caracteristicas" role="tabpanel" aria-labelledby="profile-tab">
                    <p>
                        -Capacete em HIR-TH resina termoplástica de alta resistência, com design arrojado, inspirado no Pista GP R <br />
                        -Sistema de ventilação multicanais integrado ao EPS<br />
                        -Forro em tecidos Dry-Lex com tratamento higiênico, removível e lavável<br />
                        -Engate Duplo D<br />
                        -Viseira transparente em policarbonato com preparação para Pinlock, proteção antirrisco e antiembaçante<br />
                        -Sistema XQRS (Extra Quick Release System) permite a substituição da viseira sem ferramentas
                    </p>

                </div>
            </div>
        </div>
    </div>
</section>
<section class="outros-produtos">
    <div class="container">
        <h1>Você também pode se <strong>interessar</strong> por</h1>
        <div class="produtos">
            <app-produto-componente [item]="number" *ngFor="let number of [0,1,2,3]"></app-produto-componente>
        </div>
    </div>
</section>