<nav class="breadcrumb">
    <div class="container">
        <ul *ngIf="produtoOpcao">
            <li><a href="#">Home</a></li>
            <li class="separator">/</li>
            <li><a [routerLink]="[url]">Produtos</a></li>
            <!-- 
            <li class="separator">/</li>
            <li><a href="#">Capacetes</a></li>
             -->
            <li class="separator">/</li>
            <li><a class="active">{{produtoOpcao.produto.nome}}</a></li>
        </ul>
    </div>
</nav>
<section>
    <div class="container" *ngIf="produtoOpcao">
        <div class="produto">
            <div class="imagem">
                <doe-gallery [items]="produtoOpcao.imagens" thumbsOrientation="left" [thumbsAutoScroll]="true"></doe-gallery>
            </div>
            <div class="info">
                <div class="descricao">
                    <h3>{{produtoOpcao.produto.nome}}</h3>
                    <span class="avaliacao">
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star pe-1"></i>
                        <i class="fas fa-star"></i>
                    </span>
                    <p>{{produtoOpcao.produto.descricaoCurta}}</p>
                </div>
                <div class="preco">
                    <p class="valor-normal" *ngIf="produtoOpcao.preco.desconto">{{produtoOpcao.preco.normal | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
                    <p class="valor-vigente">
                        <span *ngIf="produtoOpcao.preco.desconto">{{produtoOpcao.preco.desconto | currency:'BRL':'symbol':'0.2-2':'pt'}}</span>
                        <span *ngIf="!produtoOpcao.preco.desconto">{{produtoOpcao.preco.normal | currency:'BRL':'symbol':'0.2-2':'pt'}}</span>
                        <span class="tag lancamento" *ngIf="produtoOpcao.produto.lancamento">Lançamento</span>
                        <span class="tag exclusivo" *ngIf="produtoOpcao.produto.exclusivoSite">Exclusivo no site</span>
                        <span class="tag frete-gratis" *ngIf="produtoOpcao.produto.freteGratis">Frete Grátis</span>
                    </p>
                    <p class="valor-parcelado" *ngIf="produtoOpcao.preco.desconto">10x R$ {{(produtoOpcao.preco.desconto/10) | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
                    <p class="valor-parcelado" *ngIf="!produtoOpcao.preco.desconto">10x R$ {{(produtoOpcao.preco.normal/10) | currency:'BRL':'symbol':'0.2-2':'pt'}}</p>
                </div>
                <!-- <form class="variacoes" [formGroup]="formVariacao">
                    <ng-container *ngFor="let variacao of produtoOpcao.produto.variacoes">
                        <div class="cor" *ngIf="variacao.permalink === 'cor'">
                            <label>Cor</label>
                            <div class="itens">
                                <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                                <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                                <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                                <div class="item" [ngStyle]="{'background-image': 'url(/res/imagens/temporarias/produto-1.jpg)'}"></div>
                            </div>
                        </div>
                    </ng-container>
                    <ng-container *ngFor="let variacao of produtoOpcao.produto.variacoes">
                        <div class="tamanho" *ngIf="variacao.permalink !== 'cor'">
                            <label>{{variacao.nome}}</label>
                            <ng-select [multiple]="false" placeholder="Selecione">
                                <ng-option [value]="''">P</ng-option>
                                <ng-option [value]="''">M</ng-option>
                                <ng-option [value]="''">G</ng-option>
                            </ng-select>
                        </div>
                    </ng-container>
                </form> -->
                <button type="button" class="custom buy">
                    <i class="fas fa-shopping-cart"></i>
                    Comprar
                </button>
            </div>
        </div>
        <div class="produto-extra-info">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" id="tab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#descricao" type="button" role="tab" aria-controls="descricao" aria-selected="true">Descrição</button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#caracteristicas" type="button" role="tab" aria-controls="caracteristicas" aria-selected="false">Características</button>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div class="tab-pane active" id="descricao" role="tabpanel" aria-labelledby="home-tab">
                    <div *ngIf="produtoOpcao.produto.descricao" [innerHtml]="produtoOpcao.produto.descricao | sanitizeHtml"></div>
                    <p *ngIf="!produtoOpcao.produto.descricao">Nenhuma descrição disponível</p>
                </div>
                <div class="tab-pane" id="caracteristicas" role="tabpanel" aria-labelledby="profile-tab">
                    <div *ngIf="produtoOpcao.produto.caracteristicas" [innerHtml]="produtoOpcao.produto.caracteristicas | sanitizeHtml"></div>
                    <p *ngIf="!produtoOpcao.produto.caracteristicas">Nenhuma característica disponível</p>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="outros-produtos">
    <div class="container">
        <h1>Você também pode se <strong>interessar</strong> por</h1>
        <div class="produtos">
            <app-produto-componente [item]="produto" *ngFor="let produto of produtosPorCategoria"></app-produto-componente>
        </div>
    </div>
</section>